LA.PHI.CancelAppointments.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Switch": {
                "cases": {
                    "ATHENA": {
                        "actions": {
                            "Booking_Deletion_Error_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Failure\", \"StatusCode\" : \"',outputs('Delete_Appointment_in_Athena')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Failed\",\"AppointmentID\": \"',triggerBody()?['AppointmentID'],'\",\"ReasonDescription\" :\"',concat(json(body('Delete_Appointment_in_Athena'))['detailedmessage'],' ',json(body('Delete_Appointment_in_Athena'))['error']),'\"}}'))",
                                    "statusCode": "@{outputs('Delete_Appointment_in_Athena')['statusCode']}"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Delete_Appointment_in_Athena": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Booking_Deletion_Success_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Delete_Appointment_in_Athena')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Cancellation Confirmed\",\"ReasonDescription\": ',body('Delete_Appointment_in_Athena'),'}}'))",
                                    "statusCode": "@{outputs('Delete_Appointment_in_Athena')['statusCode']}"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Delete_Appointment_in_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Delete_Appointment_in_Athena": {
                                "inputs": {
                                    "body": "@concat(if(empty(triggerBody()?['CancellationReasonID']),'','appointmentcancelreasonid='),if(empty(triggerBody()?['CancellationReasonID']),'',triggerBody()?['CancellationReasonID']),'&',if(empty(triggerBody()?['CancellationReason']),'','cancellationreason='),if(empty(triggerBody()?['CancellationReason']),'',triggerBody()?['CancellationReason']),'&ignoreschedulablepermission=true&patientid=',triggerBody()?['PatientID'])",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_Access_Token')?['access_token']}",
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "PUT",
                                    "uri": "@concat('https://api.athenahealth.com/preview1/195900/appointments/',triggerBody()?['AppointmentID'],'/cancel')"
                                },
                                "runAfter": {
                                    "Parse_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Get_Athena_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Parse_Access_Token": {
                                "inputs": {
                                    "content": "@body('Get_Athena_Access_Token')",
                                    "schema": {
                                        "properties": {
                                            "access_token": {
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "type": "integer"
                                            },
                                            "refresh_token": {
                                                "type": "string"
                                            },
                                            "token_type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "Get_Athena_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "EPIC": {
                        "actions": {
                            "Cancel_Appointment_in_EPIC": {
                                "inputs": {
                                    "body": {
                                        "Comment": "This is a Dummy Request",
                                        "Contact": {
                                            "ID": "@{triggerBody()?['ContactID']}",
                                            "Type": "@{triggerBody()?['ContactIDType']}"
                                        },
                                        "Patient": {
                                            "ID": "@{triggerBody()?['PatientID']}",
                                            "Type": "@{triggerBody()?['PatientIDType']}"
                                        },
                                        "Reason": "@{triggerBody()?['CancellationReason']}"
                                    },
                                    "headers": {
                                        "Authorization": "Basic ZW1wJFBBTk9SQU1JQzp6RGlmNjI5emleN29YWnVEV2h1NQ==",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "POST",
                                    "uri": "https://apporchard.epic.com/interconnect-aocurprd-username/api/epic/2014/PatientAccess/External/CancelAppointment/Scheduling/Cancel"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "EPIC_Error_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Failure\", \"StatusCode\" : \"',outputs('Cancel_Appointment_in_EPIC')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Failed\", \"ReasonDescription\" :\"',body('Cancel_Appointment_in_EPIC'),'\"}}'))",
                                    "statusCode": "@outputs('Cancel_Appointment_in_EPIC')['statusCode']"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Cancel_Appointment_in_EPIC": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "EPIC_Success_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Cancel_Appointment_in_EPIC')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Success\", \"ReasonDescription\" :',body('Cancel_Appointment_in_EPIC'),'}}'))",
                                    "statusCode": "@outputs('Cancel_Appointment_in_EPIC')['statusCode']"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Cancel_Appointment_in_EPIC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@toupper(triggerBody()?['Endpoint'])",
                "runAfter": {},
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AppointmentID": {
                                "type": "string"
                            },
                            "CancellationReason": {
                                "type": "string"
                            },
                            "CancellationReasonID": {
                                "type": "string"
                            },
                            "ContactID": {
                                "type": "string"
                            },
                            "ContactIDType": {
                                "type": "string"
                            },
                            "Endpoint": {
                                "type": "string"
                            },
                            "PatientID": {
                                "type": "string"
                            },
                            "PatientIDType": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}