LA.PHI.GetPatientHealthRecords.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Epic_Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EpicAccessToken",
                            "type": "string",
                            "value": "ZW1wJFBBTk9SQU1JQzp6RGlmNjI5emleN29YWnVEV2h1NQ=="
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Get_CarePlan_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                        "Content-Type": "application/json",
                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                    },
                    "method": "GET",
                    "uri": "https://apporchard.epic.com/interconnect-aocurprd-username/api/FHIR/DSTU2/CarePlan?patient=@{triggerBody()?['PatientID']}"
                },
                "runAfter": {
                    "Epic_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_Device_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                        "Content-Type": "application/json",
                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                    },
                    "method": "GET",
                    "uri": "https://apporchard.epic.com/interconnect-aocurprd-username/api/FHIR/DSTU2/Device?patient=@{triggerBody()?['PatientID']}"
                },
                "runAfter": {
                    "Get_CarePlan_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetConditionDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetConditionDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetConditionDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetGoalDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetGoalDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetGoalDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetImmunizationDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetImmunizationDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetImmunizationDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetLabDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetLabDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetLabDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetMedicationRequestDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetMedicationRequestDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetMedicationRequestDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetProcedureDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetProcedureDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetProcedureDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@triggerBody()?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@triggerBody()?['PatientID']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "Get_Device_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "Response": {
                "inputs": {
                    "body": "@concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Success\", \"StatusCode\" : \"200\" },\"Body\":{ ',body('LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetProcedureDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetMedicationRequestDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetLabDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetImmunizationDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetConditionDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetGoalDetails.API'),'}}')",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzurePatientFHIRID": {
                                "type": "string"
                            },
                            "PatientID": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}