LA.PHI.GetPatientDetails.API.Json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "EPIC_AccessToken": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EPICAccessToken",
                            "type": "string",
                            "value": "ZW1wJFBBTk9SQU1JQzp6RGlmNjI5emleN29YWnVEV2h1NQ=="
                        }
                    ]
                },
                "runAfter": {
                    "Read_SSN": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_DOB": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DOB",
                            "type": "string",
                            "value": "@triggerBody()?['DOB']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Last_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Department_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DepartmentID",
                            "type": "string",
                            "value": "@triggerBody()?['DepartmentID']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EndPointAddress",
                            "type": "string",
                            "value": "@triggerBody()?['Endpoint']"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Read_First_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FirstName",
                            "type": "string",
                            "value": "@triggerBody()?['FirstName']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Patient_ID_Type": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Last_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "LastName",
                            "type": "string",
                            "value": "@triggerBody()?['LastName']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_First_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Patient_ID_Type": {
                "inputs": {
                    "variables": [
                        {
                            "name": "PatientIDType",
                            "type": "string",
                            "value": "@triggerBody()?['PatientIDType']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Department_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_SSN": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SSN",
                            "type": "string",
                            "value": "@triggerBody()?['SSN']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_DOB": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Set_XPath_Query": {
                "inputs": {
                    "variables": [
                        {
                            "name": "XpathQuery",
                            "type": "string",
                            "value": "@if(equals(variables('PatientIDType'),'EPI'),'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"identifier\"][*[local-name()=\"type\"]/*[local-name()=\"text\"]/@*[local-name()=\"value\"]=\"EPIC\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])',concat('string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"identifier\"][*[local-name()=\"type\"]/*[local-name()=\"text\"]/@*[local-name()=\"value\"]=\"',variables('PatientIDType'),'\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])'))"
                        }
                    ]
                },
                "runAfter": {
                    "EPIC_AccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "Athena": {
                        "actions": {
                            "Check_Patient_Count": {
                                "actions": {
                                    "Patient_Found_Response": {
                                        "inputs": {
                                            "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Patient_Details')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Get_Patient_Details')['patients'][0]['patientid'],'\"}}'))",
                                            "statusCode": "@outputs('Get_Patient_Details')['statusCode']"
                                        },
                                        "kind": "Http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Create_Patient": {
                                            "inputs": {
                                                "body": "departmentid=@{variables('DepartmentID')}&dob=@{formatDateTime(triggerBody()?['DOB'],'MM/dd/yyyy')}&firstname=@{variables('FirstName')}&lastname=@{variables('LastName')}&ssn=@{variables('SSN')}",
                                                "headers": {
                                                    "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}",
                                                    "Content-Type": "application/x-www-form-urlencoded"
                                                },
                                                "method": "POST",
                                                "uri": "https://api.athenahealth.com/preview1/195900/patients"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Return_Athena_Create_Patient_Error_Response": {
                                            "inputs": {
                                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Error\", \"StatusCode\" : \"',outputs('Create_Patient')['statusCode'],'\" },\"Body\":{ \"Error Description\" : \"',body('Create_Patient'),'\"}}'))",
                                                "statusCode": "@outputs('Create_Patient')['statusCode']"
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Create_Patient": [
                                                    "Failed"
                                                ]
                                            },
                                            "type": "Response"
                                        },
                                        "Return_Athena_Create_Patient_Response": {
                                            "inputs": {
                                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Create_Patient')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Create_Patient')[0]['patientid'],'\"}}'))",
                                                "statusCode": "@outputs('Create_Patient')['statusCode']"
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Create_Patient": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@body('Get_Patient_Details')['totalcount']",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Patient_Details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Patient_Details": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat('https://api.athenahealth.com/preview1/195900/patients?firstname=',variables('FirstName'),'&lastname=',variables('LastName'),'&dob=',formatDateTime(triggerBody()?['DOB'],'MM/dd/yyyy'),'&ssn=',variables('SSN'))"
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@body('Get_Access_Token')",
                                    "schema": {
                                        "properties": {
                                            "access_token": {
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "type": "integer"
                                            },
                                            "refresh_token": {
                                                "type": "string"
                                            },
                                            "token_type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "Epic": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "Patient_Found_in_EPIC": {
                                        "inputs": {
                                            "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Search_Patient')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',xpath(outputs('Search_Patient')['body'],variables('XpathQuery')),'\" , \"PatientFHIRId\": \"',json(outputs('Search_Patient')['body'])['Bundle']['entry']['resource']['Patient']['id']['@value'],'\"}}'))",
                                            "statusCode": "@outputs('Search_Patient')['statusCode']"
                                        },
                                        "kind": "Http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Create_Patient_in_EPIC": {
                                            "inputs": {
                                                "body": {
                                                    "Address": {
                                                        "City": "",
                                                        "Country": "",
                                                        "County": "",
                                                        "Email": "",
                                                        "HouseNumber": "",
                                                        "State": "",
                                                        "Street": "",
                                                        "StreetLine2": "",
                                                        "ZipCode": ""
                                                    },
                                                    "DateOfBirth": "@variables('DOB')",
                                                    "DepartmentID": "1",
                                                    "DepartmentIDType": "External",
                                                    "Gender": "Male",
                                                    "MaritalStatus": "",
                                                    "Name": {
                                                        "First": "@variables('FirstName')",
                                                        "LastName": "@variables('LastName')"
                                                    },
                                                    "SSN": "@variables('SSN')"
                                                },
                                                "headers": {
                                                    "Authorization": "Basic @{variables('EPICAccessToken')}",
                                                    "Content-Type": "application/json",
                                                    "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                                },
                                                "method": "POST",
                                                "uri": "https://apporchard.epic.com/interconnect-aocurprd-username/api/epic/2012/EMPI/External/PatientCreate/Patient/Create"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Error_Response_from_EPIC": {
                                            "inputs": {
                                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Failure\", \"StatusCode\" : \"',outputs('Create_Patient_in_EPIC')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Failed\",\"ReasonDescription\" : ',if(startsWith(trim(string(body('Create_Patient_in_EPIC'))),'{'),body('Create_Patient_in_EPIC'),json(xml(body('Create_Patient_in_EPIC')))),'}}'))",
                                                "statusCode": "@outputs('Create_Patient_in_EPIC')['statusCode']"
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Create_Patient_in_EPIC": [
                                                    "Failed"
                                                ]
                                            },
                                            "type": "Response"
                                        },
                                        "Filter_array": {
                                            "inputs": {
                                                "from": "@body('Create_Patient_in_EPIC')['PatientIDs']",
                                                "where": "@equals(item()['Type'], 'EPI')"
                                            },
                                            "runAfter": {
                                                "Search_Created_Patient": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Query"
                                        },
                                        "Search_Created_Patient": {
                                            "inputs": {
                                                "headers": {
                                                    "Authorization": "Basic @{variables('EPICAccessToken')}",
                                                    "Content-Type": "application/json",
                                                    "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                                },
                                                "method": "GET",
                                                "uri": "@{concat('https://apporchard.epic.com/interconnect-aocurprd-username/api/FHIR/STU3/Patient?','active=true&ssn=',variables('SSN'),'&family=',variables('LastName'),'&given=',variables('FirstName'),'&birthdate=',variables('DOB'))}"
                                            },
                                            "runAfter": {
                                                "Create_Patient_in_EPIC": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "Success_Response_from_EPIC": {
                                            "inputs": {
                                                "body": "@{json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Search_Patient')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Filter_array')[0]['ID'],'\" , \"PatientFHIRId\" : \"',json(outputs('Search_Created_Patient')['body'])['Bundle']['entry']['resource']['Patient']['id']['@value'], '\"}}'))}",
                                                "statusCode": "@outputs('Search_Patient')['statusCode']"
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Filter_array": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(xpath(xml(base64toString(outputs('Search_Patient')['body']['$content'])),'string(/*[local-name()=\"Bundle\"]/*[local-name()=\"total\"]/@*[local-name()=\"value\"])'))",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Search_Patient": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Search_Patient": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@{concat('https://apporchard.epic.com/interconnect-aocurprd-username/api/FHIR/STU3/Patient?','active=true&ssn=',variables('SSN'),'&family=',variables('LastName'),'&given=',variables('FirstName'),'&birthdate=',variables('DOB'))}"
                                },
                                "runAfter": {},
                                "type": "Http"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@toupper(variables('EndPointAddress'))",
                "runAfter": {
                    "Set_XPath_Query": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "DOB": {
                                "type": "string"
                            },
                            "DepartmentID": {
                                "type": "string"
                            },
                            "Endpoint": {
                                "type": "string"
                            },
                            "FirstName": {
                                "type": "string"
                            },
                            "LastName": {
                                "type": "string"
                            },
                            "PatientIDType": {
                                "type": "string"
                            },
                            "SSN": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}