LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "dummy"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Subject_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {},
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',triggerBody()?['EndpointIdentifier'])"
                },
                "runAfter": {
                    "Initialize_CERNER_Response": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_CERNER_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "CERResponse",
                            "type": "object",
                            "value": {
                                "a": "b"
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Record_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Diagnostic_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DiagnosticResponse",
                            "type": "string",
                            "value": "{"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Patient": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Endpoint",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Patient": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Patient",
                            "type": "string",
                            "value": "@concat('Patient/',triggerBody()?['AzureFHIRID'])"
                        }
                    ]
                },
                "runAfter": {
                    "Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Record_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RecordID",
                            "type": "string",
                            "value": "RecordID"
                        }
                    ]
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Subject_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Subject",
                            "type": "string",
                            "value": "@concat('\"subject\": {   \"reference\": \"Patient/',triggerBody()?['AzureFHIRID'],'\" }')"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "Allscripts": {
                        "actions": {
                            "AllScripts_Authenticate_User": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetUserAuthentication",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "@body('Get_Endpoint_Details')['header'][1]",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "content-type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "AllScripts_Get_Access_Token": {
                                "inputs": {
                                    "body": {
                                        "Password": "P@n8r@M1cH6@Lta#nn5v@Tf!Ns2Ncp",
                                        "Username": "Panor-6855-PHITest-test"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'GetToken')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "AllScripts_Get_Diagnostic": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetAllergies",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "PatientID": "@{triggerBody()?['EMRFHIRPatientID']}",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Authenticate_User": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Check_AllScripts_Return_Count": {
                                "actions": {
                                    "For_each_AllScripts_Diagnostic": {
                                        "actions": {
                                            "Append_AllScript_FHIRID_to_Response": {
                                                "inputs": {
                                                    "name": "DiagnosticResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_AllScripts_Diagnostic_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_AllScripts_Diagnostic_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_AllScripts_Diagnostic_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "category": {
                                                            "coding": {
                                                                "code": "POCT",
                                                                "display": "",
                                                                "system": "urn:oid:1.2.840.114350.1.13.0.1.7.10.798268.30"
                                                            }
                                                        },
                                                        "code": {
                                                            "coding": {
                                                                "code": "85027",
                                                                "display": "",
                                                                "system": "urn:oid:2.16.840.1.113883.6.12"
                                                            },
                                                            "text": "POCT CBC"
                                                        },
                                                        "effectiveDateTime": "2012-10-27T18:45:00Z",
                                                        "id": "eyFD0OoLIh16gxL7l96VWhA3",
                                                        "identifier": {
                                                            "type": {
                                                                "text": "externalResourceId"
                                                            },
                                                            "value": "eyFD0OoLIh16gxL7l96VWhA3"
                                                        },
                                                        "issued": "2012-10-27T18:45:00Z",
                                                        "performer": {
                                                            "display": "",
                                                            "reference": ""
                                                        },
                                                        "resourceType": "DiagnosticReport",
                                                        "result": [
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbYWDrkY7w2oFGOx9lOF7Qfv3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbYzZdZnSPtyFuCYWobwwWoI3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbaDWzRimQsMVWUZolcIAJNv3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbYWQEBEqBsxT0nw2UbcGkHZ3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbbNYwE5uLg7J018pvaEkQZA3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbaUQ.qChF2eY8krN0bakkXT3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbZtwH2ZucKSRLKCA8yU6onW3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbb3XwEj5QVj4HItt14Mcc0Q3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGic-HkErsZI2nYaeCzyybsDPmfmVvqQDbXEBTXUZUtI9a3"
                                                            },
                                                            {
                                                                "reference": "Observation/e6iFdm3mEXa58gc3cWeqGie3Wtbxwl8k64iNCgo0ufbaUWo0TTosf1vZ4Dxz7Jdpz3"
                                                            }
                                                        ],
                                                        "status": "final",
                                                        "subject": {
                                                            "reference": "Patient/8f2b128d-05fc-4906-a058-76ae7bb05263"
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/DiagnosticReport?identifier=@{items('For_each_AllScripts_Diagnostic')['DiagnosisID']}"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "foreach": "@body('AllScripts_Get_Diagnostic')[0]['getpatientdiagnosisinfo']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Allscripts_No_Response": {
                                            "inputs": {
                                                "name": "DiagnosticResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('AllScripts_Get_Diagnostic'))",
                                                "DiagnosisID"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "AllScripts_Get_Diagnostic": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Return_AllScripts_Success_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Diagnostic_Details\" : [',substring(variables('DiagnosticResponse'),0,sub(length(variables('DiagnosticResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_AllScripts_Return_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ALLSCRIPTS"
                    },
                    "Athena": {
                        "actions": {
                            "Check_Athena_Resposne_Count": {
                                "actions": {
                                    "For_Each_Diagnostic_Report_in_Athena_Response": {
                                        "actions": {
                                            "Append_FHIR_ID_in_Athena_Response": {
                                                "inputs": {
                                                    "name": "DiagnosticResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_Athena_Diagnostic_Report_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_Athena_Diagnostic_Report_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            },
                                            "Create_Athena_Diagnostic_Report_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(string(body('Get_Athena_Response_in_R4_Format')),concat('Patient/',triggerBody()?['EMRFHIRPatientID']),variables('Patient'))",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/DiagnosticReport?identifier=@{variables('Patient')}"
                                                },
                                                "runAfter": {
                                                    "Set_Athena_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_Athena_Response_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@items('For_Each_Diagnostic_Report_in_Athena_Response')['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            },
                                            "Set_Athena_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Get_Athena_Response_in_R4_Format')['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_Athena_Response_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Diagnostic_Report_from_Athena')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_Athena": {
                                            "inputs": {
                                                "name": "DiagnosticResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(body('Get_Diagnostic_Report_from_Athena')['total'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Diagnostic_Report_from_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Athena_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Diagnostic_Report_from_Athena": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Athena_Access_Token')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://api.athenahealth.com/preview1/195900/102/fhir/dstu2/DiagnosticReport?patient=@{triggerBody()?['EMRFHIRPatientID']}"
                                },
                                "runAfter": {
                                    "Get_Athena_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_Athena_DR_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_DiagnosticReport_Details\" : [',substring(variables('DiagnosticResponse'),0,sub(length(variables('DiagnosticResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Athena_Resposne_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "CERNER": {
                        "actions": {
                            "Check_Total_Count_in_CERNER_Diagnostic_Response": {
                                "actions": {
                                    "For_each_Diagnostic_Response_from_CERNER": {
                                        "actions": {
                                            "Append_FHIR_Response_to_CERNER_Diagnostic_Response": {
                                                "inputs": {
                                                    "name": "DiagnosticResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_CERNER_Diagnostic_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_CERNER_Diagnostic_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_CERNER_Diagnostic_in_FHIR": {
                                                "inputs": {
                                                    "body": "@body('Get_Diagnostic_Details_in_R4_Format')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/DiagnosticReport?identifier=@{item()['resource']['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_Diagnostic_Details_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_Diagnostic_Details_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@item()['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {
                                                    "Set_CERNER_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_CERNER_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@item()['resource']['id']"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@json(decodeBase64(body('Get_Diagnostic_Report_from_CERNER')['$content']))['entry']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_from_CERNER": {
                                            "inputs": {
                                                "name": "DiagnosticResponse",
                                                "value": "\"value\": }\""
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(json(decodeBase64(body('Get_Diagnostic_Report_from_CERNER')['$content'])))",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Diagnostic_Report_from_CERNER": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_CERNER_Access_Token": {
                                "inputs": {
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.sandboxcernercare.com/oauth/access?oauth_consumer_key=f3bbbf78-831e-4892-9864-086e5af423e7&oauth_signature_method=PLAINTEXT&oauth_signature=baT1MXO-PcvgptQrBtqgha_YRo3EDPSV%26"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Diagnostic_Report_from_CERNER": {
                                "inputs": {
                                    "headers": {
                                        "Accept": "application/json+fhir",
                                        "Authorization": "Bearer @{body('Get_CERNER_Access_Token')['$formdata'][0]['value']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'DiagnosticReport?patient=1316020')"
                                },
                                "runAfter": {
                                    "Get_CERNER_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_CERNER_Diagnostic_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_DiagnosticReport_Details\" : [',substring(variables('DiagnosticResponse'),0,sub(length(variables('DiagnosticResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Total_Count_in_CERNER_Diagnostic_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "CERNERPHR"
                    },
                    "DRCHRONO": {
                        "actions": {
                            "Check_Dr_Chrono_Count_for_Diagnostic": {
                                "actions": {
                                    "For_each_Diagnostic_in_DrChrono_Response": {
                                        "actions": {},
                                        "foreach": "@body('Get_DrCHRONO_Diagnostic')['results']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_DrChrono": {
                                            "inputs": {
                                                "name": "DiagnosticResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@body('Get_DrCHRONO_Diagnostic')",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_DrCHRONO_Diagnostic": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_DrCHRONO_Diagnostic": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('LA.PHI.DRCHRONO.RefreshAccessToken')['AccessToken']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'patient_physical_exams?patient=87561170')"
                                },
                                "runAfter": {
                                    "LA.PHI.DRCHRONO.RefreshAccessToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "LA.PHI.DRCHRONO.RefreshAccessToken": {
                                "inputs": {
                                    "body": {
                                        "RefreshToken": "@body('Get_Endpoint_Details')['header'][1]"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.DRCHRONO.RefreshAccessToken"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            },
                            "Send_DRChrono_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Daignostic_Details\" : [',substring(variables('DiagnosticResponse'),0,sub(length(variables('DiagnosticResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Dr_Chrono_Count_for_Diagnostic": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "DRCHRONO"
                    },
                    "EPIC": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "For_each": {
                                        "actions": {
                                            "Create_DiagnosticReport_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(replace(replace(string(item()),'\"subject\":null',variables('Subject')),'EXTERNALEMRID',items('For_each')['id']),'\"ERID\"','{\"text\": \"externalResourceId\"}')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/DiagnosticReport?identifier=@{items('For_each')['id']}"
                                                },
                                                "runAfter": {
                                                    "Set_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_Diagnostic_Response": {
                                                "inputs": {
                                                    "name": "DiagnosticResponse",
                                                    "value": "\"FHIRID\" : \"@{body('Create_DiagnosticReport_in_FHIR')['id']}\","
                                                },
                                                "runAfter": {
                                                    "Create_DiagnosticReport_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{items('For_each')['id']}"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@if(equals(int(json(body('Get_DiagnosticReports_From_EPIC'))['Bundle']['total']['@value']),1),json(concat('[',string(json(body('Transform_DiagnosticReport_XML'))['DiagnosticReport']['Observation']),']')),json(body('Transform_DiagnosticReport_XML'))['DiagnosticReport']['Observation'])",
                                        "runAfter": {
                                            "Transform_DiagnosticReport_XML": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Transform_DiagnosticReport_XML": {
                                        "inputs": {
                                            "content": "@{body('Get_DiagnosticReports_From_EPIC')}",
                                            "integrationAccount": {
                                                "map": {
                                                    "name": "DiagnosticReport_To_FHIRDiagnosticReport"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Xslt"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_EPIC": {
                                            "inputs": {
                                                "name": "DiagnosticResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(json(body('Get_DiagnosticReports_From_EPIC'))['Bundle']['total']['@value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_DiagnosticReports_From_EPIC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_DiagnosticReports_From_EPIC": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('AccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat('https://apporchard.epic.com/interconnect-aocurprd-username/api/FHIR/R4/DiagnosticReport?patient=',triggerBody()?['EMRFHIRPatientID'])"
                                },
                                "runAfter": {
                                    "Set_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Response": {
                                "inputs": {
                                    "body": "@concat('\"Get_Diagnostic_Details\" : [',substring(variables('DiagnosticResponse'),0,sub(length(variables('DiagnosticResponse')),1)),'}]')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('Endpoint')",
                "runAfter": {
                    "Initialize_Diagnostic_Response": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzureFHIRID": {
                                "type": "string"
                            },
                            "EMRFHIRPatientID": {
                                "type": "string"
                            },
                            "EndpointIdentifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
