LA.PHI.GetProviderDetailsByNPI.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "EPIC_Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EPICAccessToken",
                            "type": "string",
                            "value": "ZW1wJFBBTk9SQU1JQzp6RGlmNjI5emleN29YWnVEV2h1NQ=="
                        }
                    ]
                },
                "runAfter": {
                    "Read_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EndPointAddress",
                            "type": "string",
                            "value": "@triggerBody()?['Endpoint']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_NPI": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_NPI": {
                "inputs": {
                    "variables": [
                        {
                            "name": "NPI",
                            "type": "string",
                            "value": "@triggerBody()?['NPI']"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "Athena": {
                        "actions": {
                            "Athena_Error_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Error\", \"StatusCode\" : \"',outputs('Get_Provider_Details')['statusCode'],'\" },\"Body\":{ \"Error Description\" : \"',body('Get_Provider_Details'),'\"}}')",
                                    "statusCode": "@outputs('Get_Provider_Details')['statusCode']"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Provider_Details": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Get_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Provider_Details": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat('https://api.athenahealth.com/preview1/195900/providers/',variables('NPI'))"
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@body('Get_Access_Token')",
                                    "schema": {
                                        "properties": {
                                            "access_token": {
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "type": "integer"
                                            },
                                            "refresh_token": {
                                                "type": "string"
                                            },
                                            "token_type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            },
                            "Response": {
                                "inputs": {
                                    "body": "@concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Provider_Details')['statusCode'],'\" },\"Body\":{ \"ProviderExternalID\" : \"',body('Get_Provider_Details')[0]['providerid'],'\"}}')",
                                    "statusCode": "@outputs('Get_Provider_Details')['statusCode']"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Provider_Details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "EPIC": {
                        "actions": {
                            "Get_Practitioner_Details": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat('https://apporchard.epic.com/interconnect-aocurprd-username/api/FHIR/STU3/Practitioner?identifier=NPI|',variables('NPI'))"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Return_EPIC_Error_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Failure\", \"StatusCode\" : \"',outputs('Get_Practitioner_Details')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Failed\",\"ReasonDescription\" : ',if(startsWith(trim(string(body('Get_Practitioner_Details'))),'{'),body('Get_Practitioner_Details'),json(xml(body('Get_Practitioner_Details')))),'}}'))",
                                    "statusCode": "@outputs('Get_Practitioner_Details')['statusCode']"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Practitioner_Details": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Return_EPIC_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Practitioner_Details')['statusCode'],'\" },\"Body\":{ \"ProviderExternalID\" : \"',xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"identifier\"][*[local-name()=\"type\"]/*[local-name()=\"text\"]/@*[local-name()=\"value\"]=\"EXTERNAL\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])'),'\"}}'))",
                                    "statusCode": "@outputs('Get_Practitioner_Details')['statusCode']"
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Practitioner_Details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@toupper(variables('EndPointAddress'))",
                "runAfter": {
                    "EPIC_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "Endpoint": {
                                "type": "string"
                            },
                            "NPI": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}