LA.PHI.GetPatientDetails.API.Json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "AccessToken": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "Dummy"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Telecom": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Check_Validity_Of_Input": {
                "actions": {},
                "else": {
                    "actions": {
                        "Return_Bad_Format_Error": {
                            "inputs": {
                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"',triggerBody()?['EndpointIdentifier'],'\", \"Status\" : \"Error\", \"StatusCode\" : \"400\" },\"Body\":{ \"ErrorDescription\" : \"Bad Format\"}}'))",
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {},
                            "type": "Response"
                        },
                        "Terminate": {
                            "inputs": {
                                "runError": {
                                    "code": "400",
                                    "message": "Bad Format"
                                },
                                "runStatus": "Failed"
                            },
                            "runAfter": {
                                "Return_Bad_Format_Error": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@json(string(body('LA.PHI.General.CheckEndpointAvailability')))['Header']['Status']",
                                "Success"
                            ]
                        },
                        {
                            "equals": [
                                "@body('ValidateInput')",
                                "Success"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "LA.PHI.General.CheckEndpointAvailability": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Compose_Fields": {
                "inputs": "@replace(concat('{ \"',replace(replace(string(triggerBody()?['Identifier']),'=','\":\"'),'|','\",\"'),'\"}'),' ','')",
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Check_Validity_Of_Input": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',triggerBody()?['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "LA.PHI.General.CheckEndpointAvailability": {
                "inputs": {
                    "body": {
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.General.CheckEndpointAvailability"
                        }
                    }
                },
                "runAfter": {
                    "ValidateInput": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "Parse_Identifiers": {
                "inputs": {
                    "content": "@outputs('Compose_Fields')",
                    "schema": {
                        "properties": {
                            "DOB": {
                                "type": "string"
                            },
                            "DepartmentID": {
                                "type": "string"
                            },
                            "FirstName": {
                                "type": "string"
                            },
                            "LastName": {
                                "type": "string"
                            },
                            "PatientIDType": {
                                "type": "string"
                            },
                            "SSN": {
                                "type": "string"
                            },
                            "Telecom": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose_Fields": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Read_DOB": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DOB",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['DOB']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Last_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Department_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DepartmentID",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['DepartmentID']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EndPoint",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_Identifiers": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_First_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FirstName",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['FirstName']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Patient_ID_Type": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Last_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "LastName",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['LastName']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_First_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Patient_ID_Type": {
                "inputs": {
                    "variables": [
                        {
                            "name": "PatientIDType",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['PatientIDType']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Department_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_SSN": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SSN",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['SSN']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_DOB": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_Telecom": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Telecom",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['Telecom']"
                        }
                    ]
                },
                "runAfter": {
                    "Read_SSN": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Return_Parsing_Error": {
                "inputs": {
                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"',triggerBody()?['EndpointIdentifier'],'\", \"Status\" : \"Error\", \"StatusCode\" : \"400\" },\"Body\":{ \"ErrorDescription\" : \"Bad Format\"}}'))",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Parse_Identifiers": [
                        "Failed"
                    ]
                },
                "type": "Response"
            },
            "Set_XPath_Query_EPI": {
                "inputs": {
                    "variables": [
                        {
                            "name": "XpathQueryEPI",
                            "type": "string",
                            "value": "@if(equals(variables('PatientIDType'),'EPI'),'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"identifier\"][*[local-name()=\"type\"]/*[local-name()=\"text\"]/@*[local-name()=\"value\"]=\"EPIC\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])',concat('string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"identifier\"][*[local-name()=\"type\"]/*[local-name()=\"text\"]/@*[local-name()=\"value\"]=\"',variables('PatientIDType'),'\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])'))"
                        }
                    ]
                },
                "runAfter": {
                    "AccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Set_XPath_Query_FHIR": {
                "inputs": {
                    "variables": [
                        {
                            "name": "XpathQueryFHIR",
                            "type": "string",
                            "value": "@'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"identifier\"][*[local-name()=\"type\"]/*[local-name()=\"text\"]/@*[local-name()=\"value\"]=\"FHIR\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])'"
                        }
                    ]
                },
                "runAfter": {
                    "Set_XPath_Query_EPI": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "AllScripts": {
                        "actions": {
                            "Authenticate_Credentials": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetUserAuthentication",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "@body('Get_Endpoint_Details')['header'][1]",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "Token": "@decodeBase64(body('Get_AllScripts_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "Get_AllScripts_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Get_AllScripts_Access_Token": {
                                "inputs": {
                                    "body": {
                                        "Password": "P@n8r@M1cH6@Lta#nn5v@Tf!Ns2Ncp",
                                        "Username": "Panor-6855-PHITest-test"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'GetToken')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_AllScripts_Patient_Details": {
                                "inputs": {
                                    "body": {
                                        "Action": "SearchPatients",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "@concat(variables('LastName'),',',variables('FirstName'))",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "Token": "@decodeBase64(body('Get_AllScripts_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "Authenticate_Credentials": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_AllScript_Error_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"AllScripts\", \"Status\" : \"Error\", \"StatusCode\" : \"',outputs('Get_AllScripts_Patient_Details')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Get_AllScripts_Patient_Details'),'\"}}'))",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_AllScripts_Patient_Details": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Return_AllScript_Success_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"AllScripts\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_AllScripts_Patient_Details')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Get_AllScripts_Patient_Details')[0]['searchpatientsinfo'][0]['ID'],'\"}}'))",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_AllScripts_Patient_Details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ALLSCRIPTS"
                    },
                    "Athena": {
                        "actions": {
                            "Check_Patient_Count": {
                                "actions": {
                                    "Patient_Found_Response": {
                                        "inputs": {
                                            "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Patient_Details')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Get_Patient_Details')['patients'][0]['patientid'],'\"}}'))",
                                            "statusCode": 200
                                        },
                                        "kind": "Http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Create_Patient": {
                                            "inputs": {
                                                "body": "departmentid=@{variables('DepartmentID')}&dob=@{formatDateTime(body('Parse_Identifiers')?['DOB'],'MM/dd/yyyy')}&firstname=@{variables('FirstName')}&lastname=@{variables('LastName')}&ssn=@{variables('SSN')}",
                                                "headers": {
                                                    "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}",
                                                    "Content-Type": "application/x-www-form-urlencoded"
                                                },
                                                "method": "POST",
                                                "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,38),'195900/patients')"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Return_Athena_Create_Patient_Error_Response": {
                                            "inputs": {
                                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Error\", \"StatusCode\" : \"',outputs('Create_Patient')['statusCode'],'\" },\"Body\":{ \"Error Description\" : \"',body('Create_Patient'),'\"}}'))",
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Create_Patient": [
                                                    "Failed"
                                                ]
                                            },
                                            "type": "Response"
                                        },
                                        "Return_Athena_Create_Patient_Response": {
                                            "inputs": {
                                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Create_Patient')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Create_Patient')[0]['patientid'],'\"}}'))",
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Create_Patient": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@body('Get_Patient_Details')['totalcount']",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Patient_Details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,28),'/oauthpreview/token')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Patient_Details": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,38),'195900/patients?firstname=',variables('FirstName'),'&lastname=',variables('LastName'),'&dob=',formatDateTime(body('Parse_Identifiers')?['DOB'],'MM/dd/yyyy'),'&ssn=',variables('SSN'))"
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@body('Get_Access_Token')",
                                    "schema": {
                                        "properties": {
                                            "access_token": {
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "type": "integer"
                                            },
                                            "refresh_token": {
                                                "type": "string"
                                            },
                                            "token_type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "Cerner": {
                        "actions": {
                            "Get_Cerner_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&scope=system%2FPatient.read%20system%2FObservation.read",
                                    "headers": {
                                        "Accept": "application/json",
                                        "Authorization": "@concat('Basic ', body('Get_Endpoint_Details')['header'][1])",
                                        "Content-Type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "@concat('https://authorization.sandboxcerner.com/tenants/',body('Get_Endpoint_Details')['header'][0],'/protocols/oauth2/profiles/smart-v1/token')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Cerner_Patient_Details": {
                                "inputs": {
                                    "headers": {
                                        "Accept": "application/json+fhir",
                                        "Authorization": "Bearer @{body('Get_Cerner_Access_Token')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'Patient?','family=',variables('LastName'),'&given=',variables('FirstName'),'&birthDate=',variables('DOB'))"
                                },
                                "runAfter": {
                                    "Get_Cerner_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_Cerner_Patient_Error_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"CERNER\", \"Status\" : \"Error\", \"StatusCode\" : \"',outputs('Get_Cerner_Patient_Details')['statusCode'],'\" },\"Body\":{ \"Description\" : \"',body('Get_Cerner_Patient_Details')['issue'][0]['details']['text'],'\"}'))",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Cerner_Patient_Details": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Return_Cerner_Patient_Success_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"CERNER\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Cerner_Patient_Details')['statusCode'],'\" },\"Body\":{ \"PatientExternalID\" : \"',body('Get_Cerner_Patient_Details')['entry'][0]['resource']['id'],'\"}'))",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Cerner_Patient_Details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "CERNER"
                    },
                    "DrCHRONO": {
                        "actions": {
                            "Get_Patient_From_DrChrono": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('LA.PHI.DRCHRONO.RefreshAccessToken')['AccessToken']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'patients?first_name=Amy&last_name=Smith&date_of_birth=1952-09-02')"
                                },
                                "runAfter": {
                                    "LA.PHI.DRCHRONO.RefreshAccessToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "LA.PHI.DRCHRONO.RefreshAccessToken": {
                                "inputs": {
                                    "body": {
                                        "RefreshToken": "@body('Get_Endpoint_Details')['header'][1]"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.DRCHRONO.RefreshAccessToken"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            },
                            "Send_DrChrono_Patient_ErrorResponse": {
                                "inputs": {
                                    "body": "@body('Get_Patient_From_DrChrono')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Patient_From_DrChrono": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Send_DrChrono_Patient_Response": {
                                "inputs": {
                                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"DRCHRONO\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Patient_From_DrChrono')['statusCode'],'\" },\"Body\":{ \"PatientExternalID\" : \"',body('Get_Patient_From_DrChrono')['results'][0]['id'],'\"}'))",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Patient_From_DrChrono": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "DRCHRONO"
                    },
                    "Epic": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "Patient_Found_in_EPIC": {
                                        "inputs": {
                                            "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Search_Patient')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',xpath(outputs('Search_Patient')['body'],variables('XpathQueryEPI')),'\" , \"PatientFHIRId\": \"',xpath(outputs('Search_Patient')['body'],variables('XpathQueryFHIR')),'\"}}'))",
                                            "statusCode": 200
                                        },
                                        "kind": "Http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Create_Patient_in_EPIC": {
                                            "inputs": {
                                                "body": {
                                                    "Address": {
                                                        "City": "",
                                                        "Country": "",
                                                        "County": "",
                                                        "Email": "",
                                                        "HouseNumber": "",
                                                        "State": "",
                                                        "Street": "",
                                                        "StreetLine2": "",
                                                        "ZipCode": ""
                                                    },
                                                    "DateOfBirth": "@variables('DOB')",
                                                    "DepartmentID": "1",
                                                    "DepartmentIDType": "External",
                                                    "Gender": "Male",
                                                    "MaritalStatus": "",
                                                    "Name": {
                                                        "First": "@variables('FirstName')",
                                                        "LastName": "@variables('LastName')"
                                                    },
                                                    "telecom": [
                                                        {
                                                            "system": "phone",
                                                            "use": "home",
                                                            "value": "@variables('Telecom')"
                                                        }
                                                    ]
                                                },
                                                "headers": {
                                                    "Authorization": "Basic @{variables('AccessToken')}",
                                                    "Content-Type": "application/json",
                                                    "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                                },
                                                "method": "POST",
                                                "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,68),'2012/EMPI/External/PatientCreate/Patient/Create')"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Error_Response_from_EPIC": {
                                            "inputs": {
                                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Failure\", \"StatusCode\" : \"',outputs('Create_Patient_in_EPIC')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Failed\",\"ReasonDescription\" : ',if(startsWith(trim(string(body('Create_Patient_in_EPIC'))),'{'),body('Create_Patient_in_EPIC'),json(xml(body('Create_Patient_in_EPIC')))),'}}'))",
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Create_Patient_in_EPIC": [
                                                    "Failed"
                                                ]
                                            },
                                            "type": "Response"
                                        },
                                        "Filter_array": {
                                            "inputs": {
                                                "from": "@body('Create_Patient_in_EPIC')['PatientIDs']",
                                                "where": "@equals(item()['Type'], 'EPI')"
                                            },
                                            "runAfter": {
                                                "Search_Created_Patient": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Query"
                                        },
                                        "Search_Created_Patient": {
                                            "inputs": {
                                                "headers": {
                                                    "Authorization": "Basic @{variables('AccessToken')}",
                                                    "Content-Type": "application/json",
                                                    "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                                },
                                                "method": "GET",
                                                "uri": "@{concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/STU3/Patient?','active=true&telecom=',variables('Telecom'),'&family=',variables('LastName'),'&given=',variables('FirstName'),'&birthdate=',variables('DOB'))}"
                                            },
                                            "runAfter": {
                                                "Create_Patient_in_EPIC": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "Success_Response_from_EPIC": {
                                            "inputs": {
                                                "body": "@{json(concat('{\"Header\":{ \"Endpoint\" : \"EPIC\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Search_Patient')['statusCode'],'\" },\"Body\":{ \"PatientExternalId\" : \"',body('Filter_array')[0]['ID'],'\" , \"PatientFHIRId\" : \"',json(outputs('Search_Created_Patient')['body'])['Bundle']['entry'][0]['resource']['Patient']['id']['@value'], '\"}}'))}",
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "Filter_array": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(xpath(xml(base64toString(outputs('Search_Patient')['body']['$content'])),'string(/*[local-name()=\"Bundle\"]/*[local-name()=\"total\"]/@*[local-name()=\"value\"])'))",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Set_EPIC_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Reset_EPIC_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            },
                            "Search_Patient": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('AccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@{concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/STU3/Patient?','active=true&telecom=',variables('Telecom'),'&family=',variables('LastName'),'&given=',variables('FirstName'),'&birthdate=',variables('DOB'))}"
                                },
                                "runAfter": {
                                    "Reset_EPIC_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Set_EPIC_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {
                                    "Search_Patient": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable"
                            }
                        },
                        "case": "EPIC"
                    },
                    "NextGen": {
                        "actions": {
                            "Get_Next_Gen_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=password&client_id=l79800f2eab85041a4a1cdc364641df514&client_secret=b67bd784a7264dd6aa1ba1f6bfe3b8c1&email=sandbox_593%40yopmail.com&username=sandboxprod593&password=E55C9c25-23D1-45A6-959F%21",
                                    "headers": {
                                        "Content-Type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://nativeapi.nextgen.com/auth/oauth/v2/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Patient_Details_from_Next_Gen": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Next_Gen_Access_Token')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://nativeapi.nextgen.com/nga-native-api/persons/lookup?firstName=@{variables('FirstName')}&lastName=@{variables('LastName')}&dateOfBirth=@{variables('DOB')}"
                                },
                                "runAfter": {
                                    "Get_Next_Gen_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Send_NG_Error_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Header\":{ \"Endpoint\" : \"NextGen\", \"Status\" : \"Failed\", \"StatusCode\" : \"',outputs('Get_Patient_Details_from_Next_Gen')['statusCode'],'\" },\"Body\":{ \"Status\" : \"Failed\",\"ReasonDescription\" : ',if(startsWith(trim(string(body('Get_Patient_Details_from_Next_Gen'))),'{'),body('Get_Patient_Details_from_Next_Gen'),json(xml(body('Get_Patient_Details_from_Next_Gen')))),'}}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Patient_Details_from_Next_Gen": [
                                        "Failed"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Send_NG_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Header\":{ \"Endpoint\" : \"NextGen\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Patient_Details_from_Next_Gen')['statusCode'],'\" },\"Body\":{ \"ProviderExternalID\" : \"',body('Get_Patient_Details_from_Next_Gen')[0]['id'],'\"}}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Get_Patient_Details_from_Next_Gen": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "NEXTGEN"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@toupper(variables('EndPoint'))",
                "runAfter": {
                    "Set_XPath_Query_FHIR": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            },
            "ValidateInput": {
                "inputs": {
                    "body": "@triggerBody()",
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/ValidateInput"
                    }
                },
                "runAfter": {},
                "type": "Function"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "EndpointIdentifier": {
                                "type": "string"
                            },
                            "Identifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
