LA.PHI.PatientHealthRecords.GetMedicationStatement.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "dummy"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Initialize_RecordID": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',triggerBody()?['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Endpoint",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Medication_Request_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "MedicationResponse",
                            "type": "string",
                            "value": "{"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Subject_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Patient_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Patient",
                            "type": "string",
                            "value": "@concat('Patient/',triggerBody()?['AzureFHIRID'])"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Medication_Request_Response": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_RecordID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RecordID",
                            "type": "string",
                            "value": "RecordID"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_Subject_Variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Subject",
                            "type": "string",
                            "value": "@concat('Patient/',triggerBody()?['AzureFHIRID'])"
                        }
                    ]
                },
                "runAfter": {
                    "Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "AllScripts": {
                        "actions": {
                            "AllScripts_Authenticate_User": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetUserAuthentication",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "@body('Get_Endpoint_Details')['header'][1]",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "content-type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "AllScripts_Get_Access_Token": {
                                "inputs": {
                                    "body": {
                                        "Password": "P@n8r@M1cH6@Lta#nn5v@Tf!Ns2Ncp",
                                        "Username": "Panor-6855-PHITest-test"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'GetToken')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "AllScripts_Get_Medication": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetAllergies",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "PatientID": "@{triggerBody()?['EMRFHIRPatientID']}",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Authenticate_User": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Check_AllScripts_Return_Count": {
                                "actions": {
                                    "For_each_AllScripts_Medication": {
                                        "actions": {
                                            "Append_AllScript_FHIRID_to_Response": {
                                                "inputs": {
                                                    "name": "MedicationResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_AllScripts_Medication_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_AllScripts_Medication_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_AllScripts_Medication_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "effectiveDateTime": "2011-02-14",
                                                        "id": "e5dlpyIE3ONN6S4ajcnnOVQ3",
                                                        "identifier": [
                                                            {
                                                                "system": "urn:oid:1.2.840.114350.1.13.0.1.7.2.798268",
                                                                "use": "usual",
                                                                "value": "795512"
                                                            },
                                                            {
                                                                "type": {
                                                                    "text": "externalResourceId"
                                                                },
                                                                "value": "e5dlpyIE3ONN6S4ajcnnOVQ3"
                                                            }
                                                        ],
                                                        "medicationReference": {
                                                            "reference": "https://apporchard.epic.com/interconnect-aocurprd-oauth/api/FHIR/STU3/Medication/eQDEVHEtDuDIa0cKgnlYyN.Dbc1tmUn2T77rTQ1sn9St1MpfgIiVZoEaafPlCCOhd3"
                                                        },
                                                        "resourceType": "MedicationStatement",
                                                        "status": "active",
                                                        "subject": {
                                                            "reference": "Patient/8f2b128d-05fc-4906-a058-76ae7bb05263"
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/MedicationStatement?identifier=@{items('For_each_AllScripts_Medication')['Medication_ID']}"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "foreach": "@body('AllScripts_Get_Medication')[0]['getmedicationinfoinfo']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Allscripts_No_Response": {
                                            "inputs": {
                                                "name": "MedicationResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('AllScripts_Get_Medication'))",
                                                "Medication_ID"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "AllScripts_Get_Medication": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Return_AllScripts_Success_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Medication_Details\" : [',substring(variables('MedicationResponse'),0,sub(length(variables('MedicationResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_AllScripts_Return_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ALLSCRIPTS"
                    },
                    "Athena": {
                        "actions": {
                            "Check_Medication_Request_Details_Count_in_Athena_Response": {
                                "actions": {
                                    "For_Each_Athena_Medication_Details": {
                                        "actions": {
                                            "Append_FHIRID_to_Medication_Response": {
                                                "inputs": {
                                                    "name": "MedicationResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_Athena_Medication_Request_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_Athena_Medication_Request_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_Athena_Medication_Request_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(string(body('Get_Athena_Medication_Request_Response_in_R4_Format')),concat('Patient/',triggerBody()?['EMRFHIRPatientID']),variables('Patient'))",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/MedicationStatement?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_Athena_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_Athena_Medication_Request_Response_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@items('For_Each_Athena_Medication_Details')['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            },
                                            "Set_Athena_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Get_Athena_Medication_Request_Response_in_R4_Format')['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_Athena_Medication_Request_Response_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Medication_Request_Details_for_Athena')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_Athena": {
                                            "inputs": {
                                                "name": "MedicationResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(body('Get_Medication_Request_Details_for_Athena')['total'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Medication_Request_Details_for_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Athena_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Medication_Request_Details_for_Athena": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Athena_Access_Token')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://api.athenahealth.com/preview1/195900/102/fhir/dstu2/MedicationStatement?patient=@{triggerBody()?['EMRFHIRPatientID']}"
                                },
                                "runAfter": {
                                    "Get_Athena_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_athena_Medication_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_MedicationStatement_Details\" : [',substring(variables('MedicationResponse'),0,sub(length(variables('MedicationResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Medication_Request_Details_Count_in_Athena_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "CERNER": {
                        "actions": {
                            "Check_CERNER_Medication_Statement_Response_Count": {
                                "actions": {
                                    "For_Each_CERNER_MedicationStatement": {
                                        "actions": {
                                            "Append_FHIR_Response_to_CERNER_Response": {
                                                "inputs": {
                                                    "name": "MedicationResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_CERNER_Medication_Statement_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_CERNER_Medication_Statement_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_CERNER_Medication_Statement_in_FHIR": {
                                                "inputs": {
                                                    "body": "@body('Get_CERNER_Response_in_R4_Format')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/MedicationStatement?identifier=@{item()['resource']['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_CERNER_Response_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_CERNER_Response_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@item()['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {
                                                    "Set_CERNER_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_CERNER_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@item()['resource']['id']"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@json(decodeBase64(body('Get_Medication_Request_from_CERNER')['$content']))['entry']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_from_CERNER": {
                                            "inputs": {
                                                "name": "MedicationResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(json(decodeBase64(body('Get_Medication_Request_from_CERNER')['$content'])))",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Medication_Request_from_CERNER": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_CERNER_Access_Token": {
                                "inputs": {
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.sandboxcernercare.com/oauth/access?oauth_consumer_key=f3bbbf78-831e-4892-9864-086e5af423e7&oauth_signature_method=PLAINTEXT&oauth_signature=baT1MXO-PcvgptQrBtqgha_YRo3EDPSV%26"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Medication_Request_from_CERNER": {
                                "inputs": {
                                    "headers": {
                                        "Accept": "application/json+fhir",
                                        "Authorization": "Bearer @{body('Get_CERNER_Access_Token')['$formdata'][0]['value']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MedicationStatement?patient=1316020')"
                                },
                                "runAfter": {
                                    "Get_CERNER_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_CERNER_MedicationStatement_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_MedicationStatement_Details\" : [',substring(variables('MedicationResponse'),0,sub(length(variables('MedicationResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_CERNER_Medication_Statement_Response_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "CERNERPHR"
                    },
                    "DRCHRONO": {
                        "actions": {
                            "Check_Dr_Chrono_Count_for_Medications": {
                                "actions": {
                                    "For_each_Medications_in_DrChrono_Response": {
                                        "actions": {
                                            "Create_DRChrono_Medications_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "effectiveDateTime": "@{body('Parse_PHR_Request')?['date_prescribed']}",
                                                        "id": "@{body('Parse_PHR_Request')?['id']}",
                                                        "identifier": [
                                                            {
                                                                "system": "",
                                                                "use": "usual",
                                                                "value": "@{body('Parse_PHR_Request')?['id']}"
                                                            },
                                                            {
                                                                "type": {
                                                                    "text": "externalResourceId"
                                                                },
                                                                "value": "@{body('Parse_PHR_Request')?['id']}"
                                                            }
                                                        ],
                                                        "medicationReference": {
                                                            "reference": "@{body('Parse_PHR_Request')?['name']}"
                                                        },
                                                        "resourceType": "MedicationStatement",
                                                        "status": "active",
                                                        "subject": {
                                                            "reference": "Patient/@{body('Parse_PHR_Request')?['patient']}"
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "content-type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/MedicationStatement?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_RecordID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Create_PHR_Request_for_FHIR": {
                                                "inputs": "@items('For_each_Medications_in_DrChrono_Response')",
                                                "runAfter": {},
                                                "type": "Compose"
                                            },
                                            "Parse_PHR_Request": {
                                                "inputs": {
                                                    "content": "@outputs('Create_PHR_Request_for_FHIR')",
                                                    "schema": {
                                                        "properties": {
                                                            "appointment": {},
                                                            "date_prescribed": {},
                                                            "date_started_taking": {},
                                                            "date_stopped_taking": {},
                                                            "daw": {
                                                                "type": "boolean"
                                                            },
                                                            "dispense_quantity": {},
                                                            "doctor": {
                                                                "type": "integer"
                                                            },
                                                            "dosage_quantity": {},
                                                            "dosage_units": {},
                                                            "frequency": {},
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "indication": {},
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "ndc": {
                                                                "type": "string"
                                                            },
                                                            "notes": {
                                                                "type": "string"
                                                            },
                                                            "number_refills": {},
                                                            "order_status": {},
                                                            "patient": {
                                                                "type": "integer"
                                                            },
                                                            "pharmacy_note": {
                                                                "type": "string"
                                                            },
                                                            "prn": {
                                                                "type": "boolean"
                                                            },
                                                            "route": {},
                                                            "rxnorm": {
                                                                "type": "string"
                                                            },
                                                            "signature_note": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Create_PHR_Request_for_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson"
                                            },
                                            "Set_FHIRID_in_Medications": {
                                                "inputs": {
                                                    "name": "MedicationResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_DRChrono_Medications_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_DRChrono_Medications_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_RecordID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Parse_PHR_Request')?['id']}"
                                                },
                                                "runAfter": {
                                                    "Parse_PHR_Request": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@body('Get_DrCHRONO_Medications')['results']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_DrChrono": {
                                            "inputs": {
                                                "name": "MedicationResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('Get_DrCHRONO_Medications'))",
                                                "id"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_DrCHRONO_Medications": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_DrCHRONO_Medications": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('LA.PHI.DRCHRONO.RefreshAccessToken')['AccessToken']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'medications?patient=87561169')"
                                },
                                "runAfter": {
                                    "LA.PHI.DRCHRONO.RefreshAccessToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "LA.PHI.DRCHRONO.RefreshAccessToken": {
                                "inputs": {
                                    "body": {
                                        "RefreshToken": "@body('Get_Endpoint_Details')['header'][1]"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.DRCHRONO.RefreshAccessToken"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            },
                            "Send_DRChrono_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Medications_Details\" : [',substring(variables('MedicationResponse'),0,sub(length(variables('MedicationResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Dr_Chrono_Count_for_Medications": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "DRCHRONO"
                    },
                    "EPIC": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "For_each": {
                                        "actions": {
                                            "Create_MedicationStatement_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(string(body('Get_MedicationStatement_in_R4_Format')),'\"id\"',concat('\"subject\": {   \"reference\":\"',variables('Subject'),'\"}',',\"id\"'))",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/MedicationStatement?identifier=@{items('For_each')['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_MedicationStatement_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_MedicationStatement_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@replace(replace(string(item()),'EXTERNALEMRID',items('For_each')['id']),'\"ERID\"','{\"text\": \"externalResourceId\"}')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/stu3"
                                                },
                                                "runAfter": {
                                                    "Set_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_MedicationStatement_Response": {
                                                "inputs": {
                                                    "name": "MedicationResponse",
                                                    "value": "\"FHIRID\" : \"@{body('Create_MedicationStatement_in_FHIR')['id']}\","
                                                },
                                                "runAfter": {
                                                    "Create_MedicationStatement_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{items('For_each')['id']}"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@if(equals(int(json(body('Get_MedicationStatement_From_EPIC'))['Bundle']['total']['@value']),1),json(concat('[',string(json(body('Transform_EPIC_Medical_Statement_XML'))['MedicationStatements']['MedicationStatement']),']')),json(body('Transform_EPIC_Medical_Statement_XML'))['MedicationStatements']['MedicationStatement'])",
                                        "runAfter": {
                                            "Transform_EPIC_Medical_Statement_XML": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Transform_EPIC_Medical_Statement_XML": {
                                        "inputs": {
                                            "content": "@{body('Get_MedicationStatement_From_EPIC')}",
                                            "integrationAccount": {
                                                "map": {
                                                    "name": "MedicationStatement_ToMedicationStatementTarget"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Xslt"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_EPIC": {
                                            "inputs": {
                                                "name": "MedicationResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(json(body('Get_MedicationStatement_From_EPIC'))['Bundle']['total']['@value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_MedicationStatement_From_EPIC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_MedicationStatement_From_EPIC": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('AccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/STU3/MedicationStatement?patient=',triggerBody()?['EMRFHIRPatientID'])"
                                },
                                "runAfter": {
                                    "Set_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Response": {
                                "inputs": {
                                    "body": "@concat('\"Get_MedicationStatement_Details\" : [',substring(variables('MedicationResponse'),0,sub(length(variables('MedicationResponse')),1)),'}]')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('Endpoint')",
                "runAfter": {
                    "Initialize_Patient_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzureFHIRID": {
                                "type": "string"
                            },
                            "EMRFHIRPatientID": {
                                "type": "string"
                            },
                            "EndpointIdentifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}