LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "dummy"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Patient_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {},
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',triggerBody()?['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Allergy_Intolerance_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AllergyIntoleranceResponse",
                            "type": "string",
                            "value": "{"
                        }
                    ]
                },
                "runAfter": {
                    "Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Endpoint",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Record_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Patient_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Patient",
                            "type": "string",
                            "value": "@concat('Patient/',triggerBody()?['AzureFHIRID'])"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Record_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RecordID",
                            "type": "string",
                            "value": "RecordID"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "AllScripts": {
                        "actions": {
                            "AllScripts_Authenticate_User": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetUserAuthentication",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "@body('Get_Endpoint_Details')['header'][1]",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "content-type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "AllScripts_Get_Access_Token": {
                                "inputs": {
                                    "body": {
                                        "Password": "P@n8r@M1cH6@Lta#nn5v@Tf!Ns2Ncp",
                                        "Username": "Panor-6855-PHITest-test"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'GetToken')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "AllScripts_Get_Allergy": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetAllergies",
                                        "AppUserID": "terry",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "PatientID": "@{triggerBody()?['EMRFHIRPatientID']}",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Authenticate_User": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Check_AllScripts_Return_Count": {
                                "actions": {
                                    "For_each_AllScripts_Allergy": {
                                        "actions": {
                                            "Append_AllScript_FHIRID_to_Response": {
                                                "inputs": {
                                                    "name": "AllergyIntoleranceResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_AllScripts_Allergy_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_AllScripts_Allergy_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_AllScripts_Allergy_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "category": "medication",
                                                        "clinicalStatus": {
                                                            "coding": {
                                                                "code": ""
                                                            }
                                                        },
                                                        "criticality": "",
                                                        "id": "@{items('For_each_AllScripts_Allergy')['AllergyID']}",
                                                        "identifier": {
                                                            "type": {
                                                                "text": "externalResourceId"
                                                            },
                                                            "value": "@{items('For_each_AllScripts_Allergy')['AllergyID']}"
                                                        },
                                                        "note": {
                                                            "text": ""
                                                        },
                                                        "patient": {
                                                            "reference": "Patient/@{triggerBody()?['AzureFHIRID']}"
                                                        },
                                                        "reaction": {
                                                            "description": "@{items('For_each_AllScripts_Allergy')['Description']}",
                                                            "manifestation": {
                                                                "coding": {
                                                                    "code": "@{items('For_each_AllScripts_Allergy')['Manifestations']}"
                                                                }
                                                            }
                                                        },
                                                        "recordedDate": "@{items('For_each_AllScripts_Allergy')['OnsetDate']}",
                                                        "resourceType": "AllergyIntolerance",
                                                        "type": "allergy",
                                                        "verificationStatus": {
                                                            "coding": {
                                                                "code": "@{items('For_each_AllScripts_Allergy')['Status']}"
                                                            }
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/AllergyIntolerance?identifier=@{items('For_each_AllScripts_Allergy')['AllergyID']}"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "foreach": "@body('AllScripts_Get_Allergy')[0]['getallergiesinfo']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Allscripts_No_Response": {
                                            "inputs": {
                                                "name": "AllergyIntoleranceResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('AllScripts_Get_Allergy'))",
                                                "AllergyID"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "AllScripts_Get_Allergy": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Return_AllScripts_Success_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_AllergyIntolerance_Details\" : [',substring(variables('AllergyIntoleranceResponse'),0,sub(length(variables('AllergyIntoleranceResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_AllScripts_Return_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ALLSCRIPTS"
                    },
                    "Athena": {
                        "actions": {
                            "Check_Athena_Response": {
                                "actions": {
                                    "For_each_Allergy_Intolerance_Record": {
                                        "actions": {
                                            "Create_Athena_Allergy_Intolerance_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(string(body('Get_Allergy_Intolerance_in_R4_Format')),concat('Patient/',triggerBody()?['EMRFHIRPatientID']),variables('Patient'))",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/AllergyIntolerance?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_Athena_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_Allergy_Intolerance_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@items('For_each_Allergy_Intolerance_Record')['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            },
                                            "Set_Athena_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Get_Allergy_Intolerance_in_R4_Format')['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_Allergy_Intolerance_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            },
                                            "Set_FHIRID": {
                                                "inputs": {
                                                    "name": "AllergyIntoleranceResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_Athena_Allergy_Intolerance_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_Athena_Allergy_Intolerance_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Allergy_Intolerance_from_Athena')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_from_Athena": {
                                            "inputs": {
                                                "name": "AllergyIntoleranceResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(body('Get_Allergy_Intolerance_from_Athena')['total'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Allergy_Intolerance_from_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Access_Token_for_Athena": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Allergy_Intolerance_from_Athena": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Access_Token_for_Athena')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://api.athenahealth.com/preview1/195900/102/fhir/dstu2/AllergyIntolerance?patient=@{triggerBody()?['EMRFHIRPatientID']}"
                                },
                                "runAfter": {
                                    "Get_Access_Token_for_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_Athena_Allergy_Intolerance_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_AllergyIntolerance_Details\" : [',substring(variables('AllergyIntoleranceResponse'),0,sub(length(variables('AllergyIntoleranceResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Athena_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "CERNER": {
                        "actions": {
                            "Check_CERNER_Response_Count": {
                                "actions": {
                                    "For_Each_Allergy_Intolerance_in_CERNER": {
                                        "actions": {
                                            "Append_to_CERNER_FHIR_Response": {
                                                "inputs": {
                                                    "name": "AllergyIntoleranceResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_Allergy_Intolerance_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_Allergy_Intolerance_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_Allergy_Intolerance_in_FHIR": {
                                                "inputs": {
                                                    "body": "@json(xml(string(substring(string(body('Transform_CERNER_XML')),39))))['AllergyIntoleranceResponse']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/AllergyIntolerance?identifier=@{item()['resource']['id']}"
                                                },
                                                "runAfter": {
                                                    "Transform_CERNER_XML": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_Record_ID_for_CERNER": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@item()['resource']['id']"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            },
                                            "Transform_CERNER_XML": {
                                                "inputs": {
                                                    "content": "@string(xml(json(string(concat('{\"AllergyIntoleranceResponse\":',string(item()['resource']),'}')))))",
                                                    "integrationAccount": {
                                                        "map": {
                                                            "name": "CERNER_AllergyResponse_To_FHIRAllergyResponse"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Set_Record_ID_for_CERNER": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Xslt"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Allergy_Intolerance_from_CERNER')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_from_CERNER": {
                                            "inputs": {
                                                "name": "AllergyIntoleranceResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('Get_Allergy_Intolerance_from_CERNER'))",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Allergy_Intolerance_from_CERNER": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Allergy_Intolerance_from_CERNER": {
                                "inputs": {
                                    "headers": {
                                        "Accept": "application/json+fhir",
                                        "Authorization": "Bearer @{body('Get_CERNER_Access_Token')['$formdata'][0]['value']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'AllergyIntolerance?patient=1316020')"
                                },
                                "runAfter": {
                                    "Get_CERNER_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Get_CERNER_Access_Token": {
                                "inputs": {
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.sandboxcernercare.com/oauth/access?oauth_consumer_key=f3bbbf78-831e-4892-9864-086e5af423e7&oauth_signature_method=PLAINTEXT&oauth_signature=baT1MXO-PcvgptQrBtqgha_YRo3EDPSV%26"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Return_Allergy_Intolerance_Response_from_CERNER": {
                                "inputs": {
                                    "body": "@concat('{\"Get_AllergyIntolerance_Details\" : [',substring(variables('AllergyIntoleranceResponse'),0,sub(length(variables('AllergyIntoleranceResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_CERNER_Response_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "CERNERPHR"
                    },
                    "DRCHRONO": {
                        "actions": {
                            "Check_Dr_Chrono_Count_for_Allergy": {
                                "actions": {
                                    "For_each_Allergy_in_DrChrono_Response": {
                                        "actions": {
                                            "Create_DRChrono_Allergy_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "clinicalStatus": {
                                                            "coding": {
                                                                "code": "",
                                                                "display": "",
                                                                "system": ""
                                                            },
                                                            "text": ""
                                                        },
                                                        "code": {
                                                            "coding": {
                                                                "extension": {
                                                                    "url": "",
                                                                    "valueCode": ""
                                                                }
                                                            },
                                                            "text": "No Known Medication Allergies"
                                                        },
                                                        "id": "@{body('Parse_PHR_Request')?['id']}",
                                                        "patient": {
                                                            "display": "",
                                                            "reference": "Patient/@{body('Parse_PHR_Request')?['patient']}"
                                                        },
                                                        "recordedDate": "",
                                                        "recorder": {
                                                            "display": "",
                                                            "reference": "Practitioner/@{body('Parse_PHR_Request')?['doctor']}"
                                                        },
                                                        "resourceType": "AllergyIntolerance",
                                                        "verificationStatus": {
                                                            "coding": {
                                                                "code": "",
                                                                "display": "",
                                                                "system": ""
                                                            },
                                                            "text": ""
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "content-type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/AllergyIntolerance?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_RecordID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Create_PHR_Request_for_FHIR": {
                                                "inputs": "@items('For_each_Allergy_in_DrChrono_Response')",
                                                "runAfter": {},
                                                "type": "Compose"
                                            },
                                            "Parse_PHR_Request": {
                                                "inputs": {
                                                    "content": "@outputs('Create_PHR_Request_for_FHIR')",
                                                    "schema": {
                                                        "properties": {
                                                            "doctor": {
                                                                "type": "integer"
                                                            },
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "notes": {
                                                                "type": "string"
                                                            },
                                                            "patient": {
                                                                "type": "integer"
                                                            },
                                                            "reaction": {
                                                                "type": "string"
                                                            },
                                                            "rxnorm": {
                                                                "type": "string"
                                                            },
                                                            "snomed_reaction": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Create_PHR_Request_for_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson"
                                            },
                                            "Set_FHIRID_in_AllergyIntolerance": {
                                                "inputs": {
                                                    "name": "AllergyIntoleranceResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_DRChrono_Allergy_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_DRChrono_Allergy_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_RecordID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Parse_PHR_Request')?['id']}"
                                                },
                                                "runAfter": {
                                                    "Parse_PHR_Request": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@body('Get_DrCHRONO_Allergy_Intolerance')['results']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_DrChrono": {
                                            "inputs": {
                                                "name": "AllergyIntoleranceResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('Get_DrCHRONO_Allergy_Intolerance'))",
                                                "id"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_DrCHRONO_Allergy_Intolerance": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_DrCHRONO_Allergy_Intolerance": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('LA.PHI.DRCHRONO.RefreshAccessToken')['AccessToken']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'allergies?patient=87561170')"
                                },
                                "runAfter": {
                                    "LA.PHI.DRCHRONO.RefreshAccessToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "LA.PHI.DRCHRONO.RefreshAccessToken": {
                                "inputs": {
                                    "body": {
                                        "RefreshToken": "@body('Get_Endpoint_Details')['header'][1]"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.DRCHRONO.RefreshAccessToken"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            },
                            "Send_DRChrono_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_AllergyIntolerance_Details\" : [',substring(variables('AllergyIntoleranceResponse'),0,sub(length(variables('AllergyIntoleranceResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Dr_Chrono_Count_for_Allergy": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "DRCHRONO"
                    },
                    "EPIC": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "For_each": {
                                        "actions": {
                                            "Create_AllergyIntolerance_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(replace(replace(string(item()),'\"patient\":null',concat('\"patient\": {   \"reference\": \"',variables('Patient'),'\" }')),'EXTERNALEMRID',items('For_each')['id']),'\"ERID\"','{\"text\": \"externalResourceId\"}')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/AllergyIntolerance?identifier=@{items('For_each')['id']}"
                                                },
                                                "runAfter": {
                                                    "Set_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_Allergy_Intolerance_Response": {
                                                "inputs": {
                                                    "name": "AllergyIntoleranceResponse",
                                                    "value": "\"FHIRID\" : \"@{body('Create_AllergyIntolerance_in_FHIR')['id']}\","
                                                },
                                                "runAfter": {
                                                    "Create_AllergyIntolerance_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{items('For_each')['id']}"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@if(equals(int(json(body('Get_AllergyIntolerance_From_EPIC'))['Bundle']['total']['@value']),1),json(concat('[',string(json(body('Transform_AllergyIntolerance_XML'))['AllergyIntolerances']['AllergyIntolerance']),']')),json(body('Transform_AllergyIntolerance_XML'))['AllergyIntolerances']['AllergyIntolerance'])",
                                        "runAfter": {
                                            "Transform_AllergyIntolerance_XML": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Transform_AllergyIntolerance_XML": {
                                        "inputs": {
                                            "content": "@{body('Get_AllergyIntolerance_From_EPIC')}",
                                            "integrationAccount": {
                                                "map": {
                                                    "name": "MedicationAllergies_To_MedicationAllergiesTarget"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Xslt"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_EPIC": {
                                            "inputs": {
                                                "name": "AllergyIntoleranceResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(json(body('Get_AllergyIntolerance_From_EPIC'))['Bundle']['total']['@value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_AllergyIntolerance_From_EPIC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_AllergyIntolerance_From_EPIC": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('AccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/R4/AllergyIntolerance?patient=',triggerBody()?['EMRFHIRPatientID'],'&clinical-status=active')"
                                },
                                "runAfter": {
                                    "Set_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Response": {
                                "inputs": {
                                    "body": "@concat('\"Get_AllergyIntolerance_Details\" : [',substring(variables('AllergyIntoleranceResponse'),0,sub(length(variables('AllergyIntoleranceResponse')),1)),'}]')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('Endpoint')",
                "runAfter": {
                    "Initialize_Allergy_Intolerance_Response": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzureFHIRID": {
                                "type": "string"
                            },
                            "EMRFHIRPatientID": {
                                "type": "string"
                            },
                            "EndpointIdentifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
