LA.PHI.Athena.GetSchedulingSlots.Bulk.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "AppointmentTypeID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AppointmentTypeID",
                            "type": "string",
                            "value": "{\"text\": \"AppointmentTypeID\"}"
                        }
                    ]
                },
                "runAfter": {
                    "Department_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Appointment_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AppointmentID",
                            "type": "string",
                            "value": "{\"text\": \"AppointmentID\"}"
                        }
                    ]
                },
                "runAfter": {
                    "AppointmentTypeID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Athena_Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "@body('Get_Access_Token')['access_token']"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Check_if_Input_is_Valid": {
                "actions": {},
                "else": {
                    "actions": {
                        "Send_Bad_Format_Error": {
                            "inputs": {
                                "body": {
                                    "ContentData": "@base64(json(concat('{\"Header\":{ \"Endpoint\" : \"',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'],'\", \"Status\" : \"Error\", \"StatusCode\" : \"400\" },\"Body\":{ \"ErrorDescription\" : \"Bad Format\"}}')))"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('ibsched'))}/messages"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Terminate": {
                            "inputs": {
                                "runError": {
                                    "code": "400",
                                    "message": "Bad Format Error"
                                },
                                "runStatus": "Failed"
                            },
                            "runAfter": {
                                "Send_Bad_Format_Error": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@json(string(body('LA.PHI.General.CheckEndpointAvailability')))['Header']['Status']",
                                "Success"
                            ]
                        },
                        {
                            "equals": [
                                "@body('ValidateInput')",
                                "Success"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "LA.PHI.General.CheckEndpointAvailability": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Compose_Fields": {
                "inputs": "@replace(concat('{ \"',replace(replace(string(json(base64ToString(triggerBody()?['ContentData']))['Identifier']),'=','\":\"'),'|','\",\"'),'\"}'),' ','')",
                "runAfter": {
                    "Get_EndPoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Department_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DeptID",
                            "type": "string",
                            "value": "{\"text\": \"DepartmentID\"}"
                        }
                    ]
                },
                "runAfter": {
                    "Visit_Type": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Check_if_Input_is_Valid": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Get_Access_Token": {
                "inputs": {
                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                    "headers": {
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "method": "POST",
                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,28),'/oauthpreview/token')"
                },
                "runAfter": {
                    "Initialize_Counter_Date": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_EndPoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Appointment_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AthenaAppointmentID",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Appointment_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Counter_Date": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Counter Date",
                            "type": "string",
                            "value": "@addMinutes(variables('StartDate'),15)"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Initial_Value": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Initial_Value": {
                "inputs": {
                    "variables": [
                        {
                            "name": "InitialValue",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Start_Date": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Start_Date": {
                "inputs": {
                    "variables": [
                        {
                            "name": "StartDate",
                            "type": "string",
                            "value": "@concat(addDays(utcNow('yyyy-MM-dd'),1,'yyyy-MM-dd'),'T00:00:00')"
                        }
                    ]
                },
                "runAfter": {
                    "Max_Limit": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "LA.PHI.General.CheckEndpointAvailability": {
                "inputs": {
                    "body": {
                        "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.General.CheckEndpointAvailability"
                        }
                    }
                },
                "runAfter": {
                    "ValidateInput": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "Max_Limit": {
                "inputs": {
                    "variables": [
                        {
                            "name": "MaxLimit",
                            "type": "integer",
                            "value": 10
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Appointment_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_Identifiers": {
                "inputs": {
                    "content": "@outputs('Compose_Fields')",
                    "schema": {
                        "properties": {
                            "ProviderID": {
                                "type": "string"
                            },
                            "ScheduleID": {
                                "type": "string"
                            },
                            "appointmenttypeid": {
                                "type": "string"
                            },
                            "departmentid": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose_Fields": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Until": {
                "actions": {
                    "Create_Slots_in_Athena": {
                        "inputs": {
                            "body": "appointmentdate=@{replace(formatDateTime(substring(string(variables('StartDate')),0,10),'MM/dd/yyyy'),'/','%2F')}&appointmenttime=@{replace(substring(string(variables('StartDate')),11,5),':','%3A')}&appointmenttypeid=@{body('Parse_Identifiers')['appointmenttypeid']}&departmentid=@{body('Parse_Identifiers')['departmentid']}&ignoreschedulablepermission=true&providerid=@{body('Parse_Identifiers')['ProviderID']}",
                            "headers": {
                                "Authorization": "@concat('Bearer ',body('Get_Access_Token')['access_token'])",
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "method": "POST",
                            "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,38),'195900/appointments/open')"
                        },
                        "runAfter": {
                            "Set_Counter_Date": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Create_Slots_in_FHIR": {
                        "inputs": {
                            "body": {
                                "comment": "Assessments should be performed before requesting appointments in this slot.",
                                "end": "@addToTime(concat(variables('StartDate'),'Z'),15,'Minute')",
                                "identifier": [
                                    {
                                        "system": "",
                                        "type": "@json(variables('VisitType'))",
                                        "value": "Physical"
                                    },
                                    {
                                        "system": "",
                                        "type": "@json(variables('DeptID'))",
                                        "value": "@body('Parse_Identifiers')['departmentid']"
                                    },
                                    {
                                        "system": "",
                                        "type": "@json(variables('AppointmentID'))",
                                        "value": "@variables('AthenaAppointmentID')"
                                    },
                                    {
                                        "system": "",
                                        "type": "@json(variables('AppointmentTypeID'))",
                                        "value": "@body('Parse_Identifiers')['appointmenttypeid']"
                                    }
                                ],
                                "resourceType": "Slot",
                                "schedule": {
                                    "reference": "@concat('https://panoramic-dev.azurehealthcareapis.com/Schedule/',body('Parse_Identifiers')['ScheduleID'])",
                                    "type": "Schedule"
                                },
                                "start": "@concat(variables('StartDate'),'Z')",
                                "status": "free"
                            },
                            "headers": {
                                "Authorization": "Bearer @{body('GetAccessToken')}",
                                "Content-Type": "application/json"
                            },
                            "method": "POST",
                            "uri": "https://panoramic-dev.azurehealthcareapis.com/Slot/"
                        },
                        "runAfter": {
                            "Set_Athena_Appointment_ID": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Increment_variable": {
                        "inputs": {
                            "name": "InitialValue",
                            "value": 1
                        },
                        "runAfter": {
                            "Set_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "IncrementVariable"
                    },
                    "Set_Athena_Appointment_ID": {
                        "inputs": {
                            "name": "AthenaAppointmentID",
                            "value": "@{substring(string(body('Create_Slots_in_Athena')['appointmentids']),2,sub(indexOf(string(body('Create_Slots_in_Athena')['appointmentids']),':'),3))}"
                        },
                        "runAfter": {
                            "Create_Slots_in_Athena": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_Counter_Date": {
                        "inputs": {
                            "name": "Counter Date",
                            "value": "@addMinutes(variables('StartDate'),60)"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Set_variable": {
                        "inputs": {
                            "name": "StartDate",
                            "value": "@variables('Counter Date')"
                        },
                        "runAfter": {
                            "Create_Slots_in_FHIR": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    }
                },
                "expression": "@equals(variables('InitialValue'), variables('MaxLimit'))",
                "limit": {
                    "count": 1000,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Athena_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            },
            "ValidateInput": {
                "inputs": {
                    "body": "@json(base64ToString(triggerBody()?['ContentData']))",
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/ValidateInput"
                    }
                },
                "runAfter": {},
                "type": "Function"
            },
            "Visit_Type": {
                "inputs": {
                    "variables": [
                        {
                            "name": "VisitType",
                            "type": "string",
                            "value": "{\"text\": \"VisitType\"}"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_Identifiers": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(auto-complete)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('obsched'))}/subscriptions/@{encodeURIComponent('Athena')}/messages/head",
                    "queries": {
                        "subscriptionType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "servicebus": {
                    "connectionId": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Web/connections/servicebus",
                    "connectionName": "servicebus",
                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/providers/Microsoft.Web/locations/westus2/managedApis/servicebus"
                }
            }
        }
    }
}
