LA.PHI.GetProviderDetailsByNPI.Bulk.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose_Fields": {
                "inputs": "@replace(concat('{ \"',replace(replace(string(json(base64ToString(triggerBody()?['ContentData']))['Identifier']),'=','\":\"'),'|','\",\"'),'\"}'),' ','')",
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "EPIC_Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EPICAccessToken",
                            "type": "string",
                            "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                        }
                    ]
                },
                "runAfter": {
                    "Read_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {},
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_Identifiers": {
                "inputs": {
                    "content": "@outputs('Compose_Fields')",
                    "schema": {
                        "properties": {
                            "NPI": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose_Fields": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Read_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EndPointAddress",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Read_NPI": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Read_NPI": {
                "inputs": {
                    "variables": [
                        {
                            "name": "NPI",
                            "type": "string",
                            "value": "@body('Parse_Identifiers')?['NPI']"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_Identifiers": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Set_EPIC_External_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ExternalProviderID",
                            "type": "string",
                            "value": "NULL"
                        }
                    ]
                },
                "runAfter": {
                    "EPIC_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "EPIC": {
                        "actions": {
                            "Create_Provider_Role_in_FHIR": {
                                "inputs": {
                                    "body": {
                                        "id": "internal-FHIR-ID",
                                        "identifier": [
                                            {
                                                "assigner": {
                                                    "reference": "EPIC"
                                                },
                                                "use": "secondary",
                                                "value": "@{variables('ExternalProviderID')}"
                                            }
                                        ],
                                        "practitioner": {
                                            "display": "@concat('Dr ',xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"name\"]/*[local-name()=\"given\"]/@*[local-name()=\"value\"])'),' ',xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"name\"]/*[local-name()=\"family\"]/@*[local-name()=\"value\"])'))",
                                            "reference": "@concat('https://panoramic-dev.azurehealthcareapis.com/Practitioner/',body('Post_To_FHIR')['id'])"
                                        },
                                        "resourceType": "PractitionerRole"
                                    },
                                    "headers": {
                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/PractitionerRole/"
                                },
                                "runAfter": {
                                    "Post_To_FHIR": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Get_Practitioner_Details": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/STU3/Practitioner?identifier=NPI|',variables('NPI'))"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Post_To_FHIR": {
                                "inputs": {
                                    "body": {
                                        "active": true,
                                        "id": "example",
                                        "identifier": [
                                            {
                                                "system": "EPIC",
                                                "value": "@{variables('ExternalProviderID')}"
                                            }
                                        ],
                                        "name": [
                                            {
                                                "family": "@xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"name\"]/*[local-name()=\"family\"]/@*[local-name()=\"value\"])')",
                                                "given": "@xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"name\"]/*[local-name()=\"given\"]/@*[local-name()=\"value\"])')",
                                                "prefix": [
                                                    "Dr"
                                                ]
                                            }
                                        ],
                                        "qualification": [
                                            {
                                                "identifier": [
                                                    {
                                                        "system": "@xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"qualification\"]/*[local-name()=\"system\"]/@*[local-name()=\"value\"])')",
                                                        "value": "@xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"qualification\"]/*[local-name()=\"code\"]/@*[local-name()=\"value\"])')"
                                                    }
                                                ]
                                            }
                                        ],
                                        "resourceType": "Practitioner"
                                    },
                                    "headers": {
                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Practitioner/"
                                },
                                "runAfter": {
                                    "Set_variable": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Set_variable": {
                                "inputs": {
                                    "name": "ExternalProviderID",
                                    "value": "@xpath(outputs('Get_Practitioner_Details')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Practitioner\"]/*[local-name()=\"identifier\"][*[local-name()=\"type\"]/*[local-name()=\"text\"]/@*[local-name()=\"value\"]=\"EXTERNAL\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])')"
                                },
                                "runAfter": {
                                    "Get_Practitioner_Details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable"
                            },
                            "Write_Response_to_Inbound_Queue": {
                                "inputs": {
                                    "body": {
                                        "ContentData": "@{base64(concat('{','\n','\"FHIR-PractionerID\": \"',body('Post_To_FHIR')['id'],'\",','\n','\"FHIR-PractionerRole - ID\": \"',body('Create_Provider_Role_in_FHIR')['id'],'\",','\n','\"Endpoint\": \"',variables('EndPointAddress'),'\",','\n','\"NPI\": \"',variables('NPI'),'\",','\n','\"ExternalProviderID\" : ',variables('ExternalProviderID'),'\n','}'))}",
                                        "Properties": {
                                            "c": "d"
                                        }
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/@{encodeURIComponent(encodeURIComponent('olprovid'))}/messages",
                                    "queries": {
                                        "systemProperties": "None"
                                    }
                                },
                                "runAfter": {
                                    "Create_Provider_Role_in_FHIR": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('EndPointAddress')",
                "runAfter": {
                    "Set_EPIC_External_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_queue_(auto-complete)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('ibprovid'))}/messages/head",
                    "queries": {
                        "queueType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "servicebus": {
                    "connectionId": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Web/connections/servicebus",
                    "connectionName": "servicebus",
                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/providers/Microsoft.Web/locations/westus2/managedApis/servicebus"
                }
            }
        }
    }
}
