LA.PHI.PatientHealthRecords.GetLabDetails.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "dummy"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Subject_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Initialize_Record_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',triggerBody()?['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Endpoint",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_LabDetails_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "LabDetailsResponse",
                            "type": "string",
                            "value": "{"
                        }
                    ]
                },
                "runAfter": {
                    "Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Patient_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Patient",
                            "type": "string",
                            "value": "@concat('Patient/',triggerBody()?['AzureFHIRID'])"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_LabDetails_Response": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Record_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RecordID",
                            "type": "string",
                            "value": "RecordID"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_Subject_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Subject",
                            "type": "string",
                            "value": "@concat('\"subject\": {   \"reference\": \"Patient/',triggerBody()?['AzureFHIRID'],'\" }')"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "AllScripts": {
                        "actions": {
                            "AllScripts_Lab_Response": {
                                "inputs": {
                                    "name": "LabDetailsResponse",
                                    "value": "\"FHIRID\":\"Lab API Doesn't Exist\"}"
                                },
                                "runAfter": {},
                                "type": "AppendToStringVariable"
                            },
                            "Return_AllScripts_Success_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Lab_Details\" : [',substring(variables('LabDetailsResponse'),0,sub(length(variables('LabDetailsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "AllScripts_Lab_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ALLSCRIPTS"
                    },
                    "Athena": {
                        "actions": {
                            "Check_Count_of_Athena_Response": {
                                "actions": {
                                    "For_each_Athena_Lab_Details": {
                                        "actions": {
                                            "Append_FHIRID_to_Athena_LabDetails_Response": {
                                                "inputs": {
                                                    "name": "LabDetailsResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_Athena_Lab_Details_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_Athena_Lab_Details_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_Athena_Lab_Details_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(string(body('Get_Athena_Lab_Details_in_R4_Format')),concat('Patient/',triggerBody()?['EMRFHIRPatientID']),variables('Patient'))",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Observation?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_Athena_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_Athena_Lab_Details_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@items('For_each_Athena_Lab_Details')['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            },
                                            "Set_Athena_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Get_Athena_Lab_Details_in_R4_Format')['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_Athena_Lab_Details_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Lab_Details_from_Athena')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_from_Athena": {
                                            "inputs": {
                                                "name": "LabDetailsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(body('Get_Lab_Details_from_Athena')['total'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Lab_Details_from_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Access_Token_for_Athena": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Lab_Details_from_Athena": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Access_Token_for_Athena')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://api.athenahealth.com/preview1/195900/102/fhir/dstu2/Observation?patient=@{triggerBody()?['EMRFHIRPatientID']}"
                                },
                                "runAfter": {
                                    "Get_Access_Token_for_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_Athena_Lab_Details_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_LabResults_Details\" : [',substring(variables('LabDetailsResponse'),0,sub(length(variables('LabDetailsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Count_of_Athena_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "CERNER": {
                        "actions": {
                            "Check_Lab_details_Count_in_CERNER_Response": {
                                "actions": {
                                    "For_Each_Lab_Details_in_CERNER_Response": {
                                        "actions": {
                                            "Append_FHIR_Response__to_CERNER_Lab_Details": {
                                                "inputs": {
                                                    "name": "LabDetailsResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_CERNER_Lab_Details_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_CERNER_Lab_Details_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_CERNER_Lab_Details_in_FHIR": {
                                                "inputs": {
                                                    "body": "@json(xml(string(substring(string(body('Transform_CERNER_XML')),39))))['LabDetailsResponse']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Observation?identifier=@{item()['resource']['id']}&category=laboratory"
                                                },
                                                "runAfter": {
                                                    "Transform_CERNER_XML": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_variable": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@item()['resource']['id']"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            },
                                            "Transform_CERNER_XML": {
                                                "inputs": {
                                                    "content": "@string(xml(json(string(concat('{\"LabDetailsResponse\":',string(item()['resource']),'}')))))",
                                                    "integrationAccount": {
                                                        "map": {
                                                            "name": "CERNER_LabDetailsResponse_To_FHIRLabDetailsResponse"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Set_variable": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Xslt"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Lab_Details_from_CERNER')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_CERNER_Response": {
                                            "inputs": {
                                                "name": "LabDetailsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('Get_Lab_Details_from_CERNER'))",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Lab_Details_from_CERNER": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_CERNER_Access_Token": {
                                "inputs": {
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.sandboxcernercare.com/oauth/access?oauth_consumer_key=f3bbbf78-831e-4892-9864-086e5af423e7&oauth_signature_method=PLAINTEXT&oauth_signature=baT1MXO-PcvgptQrBtqgha_YRo3EDPSV%26"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Lab_Details_from_CERNER": {
                                "inputs": {
                                    "headers": {
                                        "Accept": "application/json+fhir",
                                        "Authorization": "Bearer @{body('Get_CERNER_Access_Token')['$formdata'][0]['value']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'Observation?patient=1316020&category=laboratory')"
                                },
                                "runAfter": {
                                    "Get_CERNER_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_CERNER_LabDetails_Response_": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Laboratory_Details\" : [',substring(variables('LabDetailsResponse'),0,sub(length(variables('LabDetailsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Lab_details_Count_in_CERNER_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "CERNERPHR"
                    },
                    "DRCHRONO": {
                        "actions": {
                            "Check_Dr_Chrono_Count_for_LabDetails": {
                                "actions": {
                                    "For_each_LabDetails_in_DrChrono_Response": {
                                        "actions": {},
                                        "foreach": "@body('Get_DrCHRONO_LabDetails')['results']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_DrChrono": {
                                            "inputs": {
                                                "name": "LabDetailsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@body('Get_DrCHRONO_LabDetails')",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_DrCHRONO_LabDetails": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_DrCHRONO_LabDetails": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('LA.PHI.DRCHRONO.RefreshAccessToken')['AccessToken']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'lab_orders?patient=87561170')"
                                },
                                "runAfter": {
                                    "LA.PHI.DRCHRONO.RefreshAccessToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "LA.PHI.DRCHRONO.RefreshAccessToken": {
                                "inputs": {
                                    "body": {
                                        "RefreshToken": "@body('Get_Endpoint_Details')['header'][1]"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.DRCHRONO.RefreshAccessToken"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            },
                            "Send_DRChrono_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_LabDetails\" : [',substring(variables('LabDetailsResponse'),0,sub(length(variables('LabDetailsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Dr_Chrono_Count_for_LabDetails": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "DRCHRONO"
                    },
                    "EPIC": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "For_each": {
                                        "actions": {
                                            "Create_Labdetails_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(replace(replace(string(item()),'\"subject\":null',variables('Subject')),'EXTERNALEMRID',items('For_each')['id']),'\"ERID\"','{\"text\": \"externalResourceId\"}')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Observation?identifier=@{items('For_each')['id']}"
                                                },
                                                "runAfter": {
                                                    "Set_RecordID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_LabDetails_Response": {
                                                "inputs": {
                                                    "name": "LabDetailsResponse",
                                                    "value": "\"FHIRID\" : \"@{body('Create_Labdetails_in_FHIR')['id']}\","
                                                },
                                                "runAfter": {
                                                    "Create_Labdetails_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_RecordID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{items('For_each')['id']}"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@if(equals(int(json(body('Get_LabDetails_From_EPIC'))['Bundle']['total']['@value']),1),json(concat('[',string(json(body('Transform_Labdetails_XML'))['Observations']['Observation']),']')),json(body('Transform_Labdetails_XML'))['Observations']['Observation'])",
                                        "runAfter": {
                                            "Transform_Labdetails_XML": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Transform_Labdetails_XML": {
                                        "inputs": {
                                            "content": "@{body('Get_LabDetails_From_EPIC')}",
                                            "integrationAccount": {
                                                "map": {
                                                    "name": "LabObservation_To_LabObservationTarget"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Xslt"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_EPIC": {
                                            "inputs": {
                                                "name": "LabDetailsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(json(body('Get_LabDetails_From_EPIC'))['Bundle']['total']['@value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_LabDetails_From_EPIC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_LabDetails_From_EPIC": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('AccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/R4/Observation?patient=',triggerBody()?['EMRFHIRPatientID'],'&category=laboratory')"
                                },
                                "runAfter": {
                                    "Set_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Response": {
                                "inputs": {
                                    "body": "@concat('\"Get_LabDetails_Details\" : [',substring(variables('LabDetailsResponse'),0,sub(length(variables('LabDetailsResponse')),1)),'}]')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('Endpoint')",
                "runAfter": {
                    "Initialize_Patient_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzureFHIRID": {
                                "type": "string"
                            },
                            "EMRFHIRPatientID": {
                                "type": "string"
                            },
                            "EndpointIdentifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
