LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "dummy"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Subject_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Initialize_Record_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',triggerBody()?['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Endpoint",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Patient_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Patient",
                            "type": "string",
                            "value": "@concat('Patient/',triggerBody()?['AzureFHIRID'])"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Vital_Signs_Response": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Record_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RecordID",
                            "type": "string",
                            "value": "RecordID"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_Subject_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Subject",
                            "type": "string",
                            "value": "@concat('\"subject\": {   \"reference\": \"Patient/',triggerBody()?['AzureFHIRID'],'\" }')"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Vital_Signs_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "VitalSignsResponse",
                            "type": "string",
                            "value": "{"
                        }
                    ]
                },
                "runAfter": {
                    "Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "AllScripts": {
                        "actions": {
                            "AllScripts_Authenticate_User": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetUserAuthentication",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "@body('Get_Endpoint_Details')['header'][1]",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "content-type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "AllScripts_Get_Access_Token": {
                                "inputs": {
                                    "body": {
                                        "Password": "P@n8r@M1cH6@Lta#nn5v@Tf!Ns2Ncp",
                                        "Username": "Panor-6855-PHITest-test"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'GetToken')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "AllScripts_Get_VitalSigns": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetAllergies",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "PatientID": "@{triggerBody()?['EMRFHIRPatientID']}",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Authenticate_User": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Check_AllScripts_Return_Count": {
                                "actions": {
                                    "For_each_AllScripts_VitalSigns": {
                                        "actions": {
                                            "Append_AllScript_FHIRID_to_Response": {
                                                "inputs": {
                                                    "name": "VitalSignsResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_AllScripts_VitalSigns_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_AllScripts_VitalSigns_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_AllScripts_VitalSigns_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "category": {
                                                            "coding": {
                                                                "code": "vital-signs",
                                                                "display": "Vital Signs",
                                                                "system": "http://hl7.org/fhir/observation-category"
                                                            }
                                                        },
                                                        "code": {
                                                            "coding": [
                                                                {
                                                                    "code": "5",
                                                                    "display": "BP",
                                                                    "system": "urn:oid:1.2.840.114350.1.13.0.1.7.2.707679"
                                                                },
                                                                {
                                                                    "code": "tBdNYepLeojPG60x7nUx9kQ0",
                                                                    "display": "BP",
                                                                    "system": "http://open.epic.com/FHIR/StructureDefinition/observation-flowsheet-id"
                                                                },
                                                                {
                                                                    "code": "8462-4",
                                                                    "display": "",
                                                                    "system": "urn:oid:1.2.246.537.6.96"
                                                                },
                                                                {
                                                                    "code": "8480-6",
                                                                    "display": "",
                                                                    "system": "urn:oid:1.2.246.537.6.96"
                                                                },
                                                                {
                                                                    "code": "55284-4",
                                                                    "display": "Blood pressure systolic and diastolic",
                                                                    "system": "http://loinc.org"
                                                                },
                                                                {
                                                                    "code": "85354-9",
                                                                    "display": "Blood pressure panel with all children optional",
                                                                    "system": "http://loinc.org"
                                                                },
                                                                {
                                                                    "code": "8716-3",
                                                                    "display": "Vital signs",
                                                                    "system": "http://loinc.org"
                                                                }
                                                            ]
                                                        },
                                                        "component": [
                                                            {
                                                                "code": {
                                                                    "coding": {
                                                                        "code": "8480-6",
                                                                        "display": "Systolic blood pressure",
                                                                        "system": "http://loinc.org"
                                                                    }
                                                                },
                                                                "valueQuantity": {
                                                                    "code": "mm[Hg]",
                                                                    "system": "http://unitsofmeasure.org",
                                                                    "unit": "mm[Hg]",
                                                                    "value": "135"
                                                                }
                                                            },
                                                            {
                                                                "code": {
                                                                    "coding": {
                                                                        "code": "8462-4",
                                                                        "display": "Diastolic blood pressure",
                                                                        "system": "http://loinc.org"
                                                                    }
                                                                },
                                                                "valueQuantity": {
                                                                    "code": "mm[Hg]",
                                                                    "system": "http://unitsofmeasure.org",
                                                                    "unit": "mm[Hg]",
                                                                    "value": "85"
                                                                }
                                                            }
                                                        ],
                                                        "effectiveDateTime": "2010-06-12T17:20:00Z",
                                                        "id": "envjcVAhuFtXhXNFIg1Dr-2-8diVcq3BOMcZpbjYOC7JAJ1pPzK0v1075T4XMHL.",
                                                        "identifier": {
                                                            "type": {
                                                                "text": "externalResourceId"
                                                            },
                                                            "value": "envjcVAhuFtXhXNFIg1Dr-2-8diVcq3BOMcZpbjYOC7JAJ1pPzK0v1075T4XMHL."
                                                        },
                                                        "issued": "2010-06-12T17:20:27Z",
                                                        "performer": {
                                                            "reference": "Practitioner/eU2bhJHhLPs8.VF8LzIGbIw3"
                                                        },
                                                        "resourceType": "Observation",
                                                        "status": "final",
                                                        "subject": {
                                                            "reference": "Patient/8f2b128d-05fc-4906-a058-76ae7bb05263"
                                                        },
                                                        "valueCodeableConcept": {
                                                            "coding": {
                                                                "code": "",
                                                                "display": "",
                                                                "system": ""
                                                            }
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Observation?identifier=@{items('For_each_AllScripts_VitalSigns')['VitalID']}"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "foreach": "@body('AllScripts_Get_VitalSigns')[0]['getvitalsdatainfo']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Allscripts_No_Response": {
                                            "inputs": {
                                                "name": "VitalSignsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('AllScripts_Get_VitalSigns'))",
                                                "VitalID"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "AllScripts_Get_VitalSigns": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Return_AllScripts_Success_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_VitalSigns_Details\" : [',substring(variables('VitalSignsResponse'),0,sub(length(variables('VitalSignsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_AllScripts_Return_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ALLSCRIPTS"
                    },
                    "Athena": {
                        "actions": {
                            "Check_Athena_Vital_Signs_Response_Count": {
                                "actions": {
                                    "For_Each_Athena_Vital_Signs": {
                                        "actions": {
                                            "Append_FHIRID_to_Vital_Signs_Response": {
                                                "inputs": {
                                                    "name": "VitalSignsResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_Athena_Vitals_Signs_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_Athena_Vitals_Signs_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_Athena_Vitals_Signs_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(string(body('Get_Athena_Response_in_R4_Format')),concat('Patient/',triggerBody()?['EMRFHIRPatientID']),variables('Patient'))",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Observation?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_Athena_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_Athena_Response_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@items('For_Each_Athena_Vital_Signs')['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            },
                                            "Set_Athena_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Get_Athena_Response_in_R4_Format')['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_Athena_Response_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Vitals_Signs_for_Athena')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_Athena": {
                                            "inputs": {
                                                "name": "VitalSignsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(body('Get_Vitals_Signs_for_Athena')['total'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Vitals_Signs_for_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Athena_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Vitals_Signs_for_Athena": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Athena_Access_Token')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://api.athenahealth.com/preview1/195900/102/fhir/dstu2/Observation?patient=@{triggerBody()?['EMRFHIRPatientID']}"
                                },
                                "runAfter": {
                                    "Get_Athena_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_Athena_Vital_Signs_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_VitalSigns_Details\" : [',substring(variables('VitalSignsResponse'),0,sub(length(variables('VitalSignsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Athena_Vital_Signs_Response_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "CERNER": {
                        "actions": {
                            "Check_Vital_Signs_Response_Count": {
                                "actions": {
                                    "For_each_Cerner_Response": {
                                        "actions": {
                                            "Create_CERNER_Vital_Signs_in_FHIR": {
                                                "inputs": {
                                                    "body": "@json(xml(string(substring(string(body('Transform_CERNER_XML')),39))))['VitalSignsResponse']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Observation?identifier=@{item()['resource']['id']}&category=vital-signs"
                                                },
                                                "runAfter": {
                                                    "Transform_CERNER_XML": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_CERNER_RecordID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@item()['resource']['id']"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            },
                                            "Transform_CERNER_XML": {
                                                "inputs": {
                                                    "content": "@string(xml(json(string(concat('{\"VitalSignsResponse\":',string(item()['resource']),'}')))))",
                                                    "integrationAccount": {
                                                        "map": {
                                                            "name": "CERNER_VitalSignsResponse_To_FHIRVitalSignsResponse"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Set_CERNER_RecordID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Xslt"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Vital_Signs_from_CERNER')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_from_CERNER": {
                                            "inputs": {
                                                "name": "VitalSignsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@body('Get_Vital_Signs_from_CERNER')",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Vital_Signs_from_CERNER": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_CERNER_Access_Token": {
                                "inputs": {
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.sandboxcernercare.com/oauth/access?oauth_consumer_key=f3bbbf78-831e-4892-9864-086e5af423e7&oauth_signature_method=PLAINTEXT&oauth_signature=baT1MXO-PcvgptQrBtqgha_YRo3EDPSV%26"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Vital_Signs_from_CERNER": {
                                "inputs": {
                                    "headers": {
                                        "Accept": "application/json+fhir",
                                        "Authorization": "Bearer @{body('Get_CERNER_Access_Token')['$formdata'][0]['value']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'Observation?patient=1316020&category=vital-signs')"
                                },
                                "runAfter": {
                                    "Get_CERNER_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_CERNER_Vitals_Sign_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_VitalSigns_Details\" : [',substring(variables('VitalSignsResponse'),0,sub(length(variables('VitalSignsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Vital_Signs_Response_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "CERNERPHR"
                    },
                    "DRCHRONO": {
                        "actions": {
                            "Check_Dr_Chrono_Count_for_VitalSigns": {
                                "actions": {
                                    "For_each_VitalSigns_in_DrChrono_Response": {
                                        "actions": {},
                                        "foreach": "@body('Get_DrCHRONO_VitalSigns')['results']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_DrChrono": {
                                            "inputs": {
                                                "name": "VitalSignsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@body('Get_DrCHRONO_VitalSigns')",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_DrCHRONO_VitalSigns": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_DrCHRONO_VitalSigns": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('LA.PHI.DRCHRONO.RefreshAccessToken')['AccessToken']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'custom_vitals?patient=87561170')"
                                },
                                "runAfter": {
                                    "LA.PHI.DRCHRONO.RefreshAccessToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "LA.PHI.DRCHRONO.RefreshAccessToken": {
                                "inputs": {
                                    "body": {
                                        "RefreshToken": "@body('Get_Endpoint_Details')['header'][1]"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.DRCHRONO.RefreshAccessToken"
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Set_DRCHRONO_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Workflow"
                            },
                            "Send_DRChrono_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_VitalSigns_Details\" : [',substring(variables('VitalSignsResponse'),0,sub(length(variables('VitalSignsResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Dr_Chrono_Count_for_VitalSigns": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_DRCHRONO_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "dummy"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "case": "DRCHRONO"
                    },
                    "EPIC": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "For_each": {
                                        "actions": {
                                            "Create_VitalSigns_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(replace(replace(string(item()),'\"subject\":null',variables('Subject')),'EXTERNALEMRID',items('For_each')['id']),'\"ERID\"','{\"text\": \"externalResourceId\"}')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Observation?identifier=@{items('For_each')['id']}"
                                                },
                                                "runAfter": {
                                                    "Set_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{items('For_each')['id']}"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            },
                                            "Set_Vitalsigns_Response": {
                                                "inputs": {
                                                    "name": "VitalSignsResponse",
                                                    "value": "\"FHIRID\" : \"@{body('Create_VitalSigns_in_FHIR')['id']}\","
                                                },
                                                "runAfter": {
                                                    "Create_VitalSigns_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            }
                                        },
                                        "foreach": "@if(equals(int(json(body('Get_VitalSigns_From_EPIC'))['Bundle']['total']['@value']),1),json(concat('[',string(json(body('Transform_VitalSigns_XML'))['Observations']['Observation']),']')),json(body('Transform_VitalSigns_XML'))['Observations']['Observation'])",
                                        "runAfter": {
                                            "Transform_VitalSigns_XML": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Transform_VitalSigns_XML": {
                                        "inputs": {
                                            "content": "@{body('Get_VitalSigns_From_EPIC')}",
                                            "integrationAccount": {
                                                "map": {
                                                    "name": "VitalSigns_To_VitalSignsTarget"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Xslt"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_EPIC": {
                                            "inputs": {
                                                "name": "VitalSignsResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(json(body('Get_VitalSigns_From_EPIC'))['Bundle']['total']['@value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_VitalSigns_From_EPIC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_VitalSigns_From_EPIC": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('AccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/R4/Observation?patient=',triggerBody()?['EMRFHIRPatientID'],'&category=vital-signs')"
                                },
                                "runAfter": {
                                    "Set_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Response": {
                                "inputs": {
                                    "body": "@concat('\"Get_VitalSigns_Details\" : [',substring(variables('VitalSignsResponse'),0,sub(length(variables('VitalSignsResponse')),1)),'}]')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('Endpoint')",
                "runAfter": {
                    "Initialize_Patient_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzureFHIRID": {
                                "type": "string"
                            },
                            "EMRFHIRPatientID": {
                                "type": "string"
                            },
                            "EndpointIdentifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
