LA.PHI.GetPatientDetails.Bulk.Json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose_Fields": {
                "inputs": "@replace(concat('{ \"',replace(replace(string(json(base64ToString(triggerBody()?['ContentData']))['Identifier']),'=','\":\"'),'|','\",\"'),'\"}'),' ','')",
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "EPIC_AccessToken": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EPICAccessToken",
                            "type": "string",
                            "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_Identifiers": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {},
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_Identifiers": {
                "inputs": {
                    "content": "@outputs('Compose_Fields')",
                    "schema": {
                        "properties": {
                            "City": {
                                "type": "string"
                            },
                            "Country": {
                                "type": "string"
                            },
                            "County": {
                                "type": "string"
                            },
                            "DOB": {
                                "type": "string"
                            },
                            "DepartmentID": {
                                "type": "string"
                            },
                            "DepartmentIDType": {
                                "type": "string"
                            },
                            "Email": {
                                "type": "string"
                            },
                            "Endpoint": {
                                "type": "string"
                            },
                            "FirstName": {
                                "type": "string"
                            },
                            "Gender": {
                                "type": "string"
                            },
                            "HouseNumber": {
                                "type": "string"
                            },
                            "HousePhoneNumber": {
                                "type": "string"
                            },
                            "LastName": {
                                "type": "string"
                            },
                            "Line1": {
                                "type": "string"
                            },
                            "Line2": {
                                "type": "string"
                            },
                            "MaritalStatus": {
                                "type": "string"
                            },
                            "MobilePhoneNumber": {
                                "type": "string"
                            },
                            "SSN": {
                                "type": "string"
                            },
                            "State": {
                                "type": "string"
                            },
                            "WorkPhoneNumber": {
                                "type": "string"
                            },
                            "ZipCode": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose_Fields": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Switch": {
                "cases": {
                    "Epic": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "Get_PatientID_from_FHIR": {
                                        "inputs": {
                                            "headers": {
                                                "Authorization": "Bearer @{body('GetAccessToken')}",
                                                "Content-Type": "application/json"
                                            },
                                            "method": "GET",
                                            "uri": "https://panoramic-dev.azurehealthcareapis.com/Patient?firstname=@{body('Parse_Identifiers')?['FirstName']}&lastname=@{body('Parse_Identifiers')?['LastName']}&birthDate=@{body('Parse_Identifiers')?['DOB']}"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    },
                                    "Send_message_to_Inbound_Queue": {
                                        "inputs": {
                                            "body": {
                                                "ContentData": "@{base64(concat('{','\n','\"Endpoint\":\"EPIC\",','\n','\"FHIRPatientID\":',body('Get_PatientID_from_FHIR')['entry'][0]['resource']['id'],'\n','\"ExternalPatientID\":',xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"id\"]/@*[local-name()=\"value\"])'),'\n','}'))}"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/@{encodeURIComponent(encodeURIComponent('ibpatient'))}/messages",
                                            "queries": {
                                                "systemProperties": "None"
                                            }
                                        },
                                        "runAfter": {
                                            "Update_FHIR_with_Patient_Record": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "Update_FHIR_with_Patient_Record": {
                                        "inputs": {
                                            "body": {
                                                "_birthDate": {
                                                    "extension": [
                                                        {
                                                            "url": "http://hl7.org/fhir/StructureDefinition/patient-birthTime",
                                                            "valueDateTime": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"birthDate\"]/@*[local-name()=\"value\"])')"
                                                        }
                                                    ]
                                                },
                                                "active": true,
                                                "address": [
                                                    {
                                                        "city": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"address\"]/*[local-name()=\"city\"]/@*[local-name()=\"value\"])')",
                                                        "line": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"address\"]/*[local-name()=\"line\"]/@*[local-name()=\"value\"])')",
                                                        "postalCode": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"address\"]/*[local-name()=\"postalCode\"]/@*[local-name()=\"value\"])')",
                                                        "state": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"address\"]/*[local-name()=\"state\"]/@*[local-name()=\"value\"])')"
                                                    }
                                                ],
                                                "birthDate": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"birthDate\"]/@*[local-name()=\"value\"])')",
                                                "deceasedBoolean": false,
                                                "gender": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"gender\"]/@*[local-name()=\"value\"])')",
                                                "id": "@body('Get_PatientID_from_FHIR')['entry'][0]['resource']['id']",
                                                "identifier": [
                                                    {
                                                        "assigner": {
                                                            "display": "EPIC"
                                                        },
                                                        "system": "",
                                                        "type": {
                                                            "coding": [
                                                                {
                                                                    "code": "MR",
                                                                    "system": "http://terminology.hl7.org/CodeSystem/v2-0203"
                                                                }
                                                            ]
                                                        },
                                                        "use": "usual",
                                                        "value": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"id\"]/@*[local-name()=\"value\"])')"
                                                    }
                                                ],
                                                "managingOrganization": {
                                                    "reference": "Organization/1"
                                                },
                                                "name": [
                                                    {
                                                        "family": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"name\"]/*[local-name()=\"family\"]/@*[local-name()=\"value\"])')",
                                                        "given": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"name\"]/*[local-name()=\"given\"]/@*[local-name()=\"value\"])')",
                                                        "use": "official"
                                                    }
                                                ],
                                                "resourceType": "Patient",
                                                "telecom": [
                                                    {
                                                        "rank": 1,
                                                        "system": "phone",
                                                        "use": "home",
                                                        "value": "@xpath(outputs('Search_Patient')['body'],'string(//*[local-name()=\"Bundle\"]/*[local-name()=\"entry\"]/*[local-name()=\"resource\"]/*[local-name()=\"Patient\"]/*[local-name()=\"telecom\"]/*[local-name()=\"value\"]/@*[local-name()=\"value\"])')"
                                                    }
                                                ]
                                            },
                                            "headers": {
                                                "Authorization": "Bearer @{body('GetAccessToken')}",
                                                "Content-Type": "application/json"
                                            },
                                            "method": "PUT",
                                            "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Patient?_id=',body('Get_PatientID_from_FHIR')['entry'][0]['resource']['id'])"
                                        },
                                        "runAfter": {
                                            "Get_PatientID_from_FHIR": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Create_Patient_in_EPIC": {
                                            "inputs": {
                                                "body": {
                                                    "Address": {
                                                        "City": "@body('Parse_Identifiers')?['City']",
                                                        "Country": "@body('Parse_Identifiers')?['Country']",
                                                        "County": "@body('Parse_Identifiers')?['County']",
                                                        "Email": "@body('Parse_Identifiers')?['Email']",
                                                        "HouseNumber": "@body('Parse_Identifiers')?['HouseNumber']",
                                                        "Phones": [
                                                            {
                                                                "Number": "@body('Parse_Identifiers')?['HousePhoneNumber']",
                                                                "Type": "Home"
                                                            },
                                                            {
                                                                "Number": "@body('Parse_Identifiers')?['WorkPhoneNumber']",
                                                                "Type": "Work"
                                                            },
                                                            {
                                                                "Number": "@body('Parse_Identifiers')?['MobilePhoneNumber']",
                                                                "Type": "Mobile"
                                                            }
                                                        ],
                                                        "State": "@body('Parse_Identifiers')?['State']",
                                                        "Street": "@body('Parse_Identifiers')?['Street']",
                                                        "StreetLine2": "@body('Parse_Identifiers')?['Line2']",
                                                        "ZipCode": "@body('Parse_Identifiers')?['ZipCode']"
                                                    },
                                                    "DateOfBirth": "@body('Parse_Identifiers')?['DOB']",
                                                    "DepartmentID": "@body('Parse_Identifiers')?['DepartmentID']",
                                                    "DepartmentIDType": "@body('Parse_Identifiers')?['DepartmentIDType']",
                                                    "Gender": "@body('Parse_Identifiers')?['Gender']",
                                                    "MaritalStatus": "@body('Parse_Identifiers')?['MaritalStatus']",
                                                    "Name": {
                                                        "First": "@body('Parse_Identifiers')?['FirstName']",
                                                        "LastName": "@body('Parse_Identifiers')?['LastName']"
                                                    }
                                                },
                                                "headers": {
                                                    "Authorization": "Basic @{variables('EPICAccessToken')}",
                                                    "Content-Type": "application/json",
                                                    "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                                },
                                                "method": "POST",
                                                "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,63),'epic/2012/EMPI/External/PatientCreate/Patient/Create')"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Retrieve_FHIR_ID_of_Patient": {
                                            "inputs": {
                                                "headers": {
                                                    "Authorization": "Bearer @{body('GetAccessToken')}",
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "uri": "https://panoramic-dev.azurehealthcareapis.com/Patient?firstname=@{body('Parse_Identifiers')?['FirstName']}&lastname=@{body('Parse_Identifiers')?['LastName']}&birthDate=@{body('Parse_Identifiers')?['DOB']}"
                                            },
                                            "runAfter": {
                                                "Create_Patient_in_EPIC": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "Update_Patient_External_ID_in_FHIR": {
                                            "inputs": {
                                                "body": {
                                                    "_birthDate": {
                                                        "extension": [
                                                            {
                                                                "url": "http://hl7.org/fhir/StructureDefinition/patient-birthTime",
                                                                "valueDateTime": "@body('Parse_Identifiers')?['DOB']"
                                                            }
                                                        ]
                                                    },
                                                    "active": true,
                                                    "address": [
                                                        {
                                                            "city": "@body('Parse_Identifiers')?['City']",
                                                            "line": "@body('Parse_Identifiers')?['Line1']",
                                                            "postalCode": "@body('Parse_Identifiers')?['ZipCode']",
                                                            "state": "@body('Parse_Identifiers')?['State']"
                                                        }
                                                    ],
                                                    "birthDate": "@body('Parse_Identifiers')?['DOB']",
                                                    "deceasedBoolean": false,
                                                    "gender": "@body('Parse_Identifiers')?['Gender']",
                                                    "id": "@body('Retrieve_FHIR_ID_of_Patient')['entry'][0]['resource']['id']",
                                                    "identifier": [
                                                        {
                                                            "assigner": {
                                                                "display": "EPIC"
                                                            },
                                                            "system": "",
                                                            "type": {
                                                                "coding": [
                                                                    {
                                                                        "code": "MR",
                                                                        "system": "http://terminology.hl7.org/CodeSystem/v2-0203"
                                                                    }
                                                                ]
                                                            },
                                                            "use": "usual",
                                                            "value": "@body('Create_Patient_in_EPIC')['id']"
                                                        }
                                                    ],
                                                    "managingOrganization": {
                                                        "reference": "Organization/1"
                                                    },
                                                    "name": [
                                                        {
                                                            "family": "@body('Parse_Identifiers')?['LastName']",
                                                            "given": "@body('Parse_Identifiers')?['FirstName']",
                                                            "use": "official"
                                                        }
                                                    ],
                                                    "resourceType": "Patient",
                                                    "telecom": [
                                                        {
                                                            "rank": 1,
                                                            "system": "phone",
                                                            "use": "home",
                                                            "value": "@body('Parse_Identifiers')?['HousePhoneNumber']"
                                                        }
                                                    ]
                                                },
                                                "headers": {
                                                    "Authorization": "Bearer @{body('GetAccessToken')}",
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "PUT",
                                                "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Patient?_id=',body('Retrieve_FHIR_ID_of_Patient')['entry'][0]['resource']['id'])"
                                            },
                                            "runAfter": {
                                                "Retrieve_FHIR_ID_of_Patient": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(xpath(xml(base64toString(outputs('Search_Patient')['body']['$content'])),'string(/*[local-name()=\"Bundle\"]/*[local-name()=\"total\"]/@*[local-name()=\"value\"])'))",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Search_Patient": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Search_Patient": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@{concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/STU3/Patient?','family=',body('Parse_Identifiers')?['LastName'],'&given=',body('Parse_Identifiers')?['FirstName'],'&birthdate=',body('Parse_Identifiers')?['DOB'])}"
                                },
                                "runAfter": {},
                                "type": "Http"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])",
                "runAfter": {
                    "EPIC_AccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_queue_(auto-complete)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('ibpatient'))}/messages/head",
                    "queries": {
                        "queueType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "servicebus": {
                    "connectionId": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Web/connections/servicebus",
                    "connectionName": "servicebus",
                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/providers/Microsoft.Web/locations/westus2/managedApis/servicebus"
                }
            }
        }
    }
}
