LA.PHI.PatientHealthRecords.GetImmunizationDetails.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "For_each": {
                        "actions": {
                            "Create_Immunization_in_FHIR": {
                                "inputs": {
                                    "body": "@replace(string(item()),'\"patient\":null',variables('Patient'))",
                                    "headers": {
                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Immunization"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Set_Immunization_Response": {
                                "inputs": {
                                    "name": "ImmunizationResponse",
                                    "value": "\"FHIRID\" : \"@{body('Create_Immunization_in_FHIR')['id']}\","
                                },
                                "runAfter": {
                                    "Create_Immunization_in_FHIR": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "AppendToStringVariable"
                            }
                        },
                        "foreach": "@if(equals(int(json(body('Get_Immunization_From_EPIC'))['Bundle']['total']['@value']),1),json(concat('[',string(json(body('Transform_Immunization_XML'))['Immunizations']['Immunization']),']')),json(body('Transform_Immunization_XML'))['Immunizations']['Immunization'])",
                        "runAfter": {
                            "Transform_Immunization_XML": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Transform_Immunization_XML": {
                        "inputs": {
                            "content": "@{body('Get_Immunization_From_EPIC')}",
                            "integrationAccount": {
                                "map": {
                                    "name": "Immunization_To_ImmunizationTarget"
                                }
                            }
                        },
                        "runAfter": {},
                        "type": "Xslt"
                    }
                },
                "else": {
                    "actions": {
                        "No_Response_From_EPIC": {
                            "inputs": {
                                "name": "ImmunizationResponse",
                                "value": "\"FHIRID\":\"No Response From EPIC\"}"
                            },
                            "runAfter": {},
                            "type": "AppendToStringVariable"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@int(json(body('Get_Immunization_From_EPIC'))['Bundle']['total']['@value'])",
                                0
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Get_Immunization_From_EPIC": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "EPIC_Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EPICAccessToken",
                            "type": "string",
                            "value": "ZW1wJFBBTk9SQU1JQzp6RGlmNjI5emleN29YWnVEV2h1NQ=="
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "+^;>*+{;});Y:@}#;0/}D_//W$([*dkl?-#({;_^%"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "EPIC_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Get_Immunization_From_EPIC": {
                "inputs": {
                    "headers": {
                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                        "Content-Type": "application/json",
                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                    },
                    "method": "GET",
                    "uri": "https://apporchard.epic.com/interconnect-aocurprd-username/api/FHIR/STU3/Immunization?patient=@{triggerBody()?['EMRFHIRPatientID']}"
                },
                "runAfter": {
                    "Initialize_Immunization_Response": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Immunization_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ImmunizationResponse",
                            "type": "string",
                            "value": "{"
                        }
                    ]
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Patient",
                            "type": "string",
                            "value": "@concat('\"patient\": {   \"reference\": \"Patient/',triggerBody()?['AzureFHIRID'],'\" }')"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": "@concat('\"Get_Immunization_Details\" : [',substring(variables('ImmunizationResponse'),0,sub(length(variables('ImmunizationResponse')),1)),'}]')",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzureFHIRID": {
                                "type": "string"
                            },
                            "EMRFHIRPatientID": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}