LA.PHI.PatientHealthRecords.GetConditionDetails.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AccessToken",
                            "type": "string",
                            "value": "dummy"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Subject_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {},
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',triggerBody()?['EndpointIdentifier'])"
                },
                "runAfter": {
                    "Initialize_Record_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Condition_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ConditionResponse",
                            "type": "string",
                            "value": "{"
                        }
                    ]
                },
                "runAfter": {
                    "Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Endpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Endpoint",
                            "type": "string",
                            "value": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Patient_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Patient",
                            "type": "string",
                            "value": "@concat('Patient/',triggerBody()?['AzureFHIRID'])"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Condition_Response": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Record_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "RecordID",
                            "type": "string",
                            "value": "RecordID"
                        }
                    ]
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Subject_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Subject",
                            "type": "string",
                            "value": "@concat('\"subject\": {   \"reference\": \"Patient/',triggerBody()?['AzureFHIRID'],'\" }')"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Endpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "AllScripts": {
                        "actions": {
                            "AllScripts_Authenticate_User": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetUserAuthentication",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "@body('Get_Endpoint_Details')['header'][1]",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "content-type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Get_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "AllScripts_Get_Access_Token": {
                                "inputs": {
                                    "body": {
                                        "Password": "P@n8r@M1cH6@Lta#nn5v@Tf!Ns2Ncp",
                                        "Username": "Panor-6855-PHITest-test"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'GetToken')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "AllScripts_Get_Condition": {
                                "inputs": {
                                    "body": {
                                        "Action": "GetAllergies",
                                        "AppUserID": "@body('Get_Endpoint_Details')['header'][0]",
                                        "Appname": "PanoramicHealthInnovationsInc.PHITest.TestApp",
                                        "Data": "",
                                        "Parameter1": "",
                                        "Parameter2": "",
                                        "Parameter3": "",
                                        "Parameter4": "",
                                        "Parameter5": "",
                                        "Parameter6": "",
                                        "PatientID": "@{triggerBody()?['EMRFHIRPatientID']}",
                                        "Token": "@decodeBase64(body('AllScripts_Get_Access_Token')['$content'])"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'MagicJson')"
                                },
                                "runAfter": {
                                    "AllScripts_Authenticate_User": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Check_AllScripts_Return_Count": {
                                "actions": {
                                    "For_each_AllScripts_Condition": {
                                        "actions": {
                                            "Append_AllScript_FHIRID_to_Response": {
                                                "inputs": {
                                                    "name": "ConditionResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_AllScripts_Condition_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_AllScripts_Condition_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_AllScripts_Condition_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "category": {
                                                            "coding": {
                                                                "code": "problem-list-item",
                                                                "display": "Problem List Item",
                                                                "system": "http://hl7.org/fhir/condition-category"
                                                            }
                                                        },
                                                        "clinicalStatus": {
                                                            "coding": {
                                                                "code": "",
                                                                "system": "http://terminology.hl7.org/CodeSystem/condition-clinical"
                                                            }
                                                        },
                                                        "code": {
                                                            "coding": [
                                                                {
                                                                    "code": "I10",
                                                                    "system": "urn:oid:2.16.840.1.113883.6.90"
                                                                },
                                                                {
                                                                    "code": "59621000",
                                                                    "system": "urn:oid:2.16.840.1.113883.6.96"
                                                                }
                                                            ],
                                                            "text": "Essential hypertension"
                                                        },
                                                        "encounter": "",
                                                        "evidence": {
                                                            "code": {
                                                                "text": "Essential hypertension"
                                                            }
                                                        },
                                                        "id": "eyby2d7PoIFFgrpFtF.ntLg3",
                                                        "identifier": {
                                                            "type": {
                                                                "text": "externalResourceId"
                                                            },
                                                            "value": "eyby2d7PoIFFgrpFtF.ntLg3"
                                                        },
                                                        "note": {
                                                            "text": "Diagnosed age 54. Initially treated with sodium restriction, diet, exercise. Diuretics started ~1988, taken sporadically since that time. Patient admits to poor compliance with med regimen. No history to suggest end organ damage or coronary artery disease. Cardiovascular risk factors include 20 pk yr hx of smoking and hypercholesterolemia.\r\n"
                                                        },
                                                        "onsetDateTime": "",
                                                        "resourceType": "Condition",
                                                        "severity": {
                                                            "coding": {
                                                                "code": "",
                                                                "display": "",
                                                                "system": ""
                                                            }
                                                        },
                                                        "subject": {
                                                            "reference": "Patient/8f2b128d-05fc-4906-a058-76ae7bb05263"
                                                        },
                                                        "verificationStatus": {
                                                            "coding": {
                                                                "code": "",
                                                                "system": "http://terminology.hl7.org/CodeSystem/condition-clinical"
                                                            }
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Condition?identifier=@{items('For_each_AllScripts_Condition')['TransID']}"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "foreach": "@body('AllScripts_Get_Condition')[0]['getproblemsinfo']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Allscripts_No_Response": {
                                            "inputs": {
                                                "name": "ConditionResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('AllScripts_Get_Condition'))",
                                                "TransID"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "AllScripts_Get_Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Return_AllScripts_Success_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Condition_Details\" : [',substring(variables('ConditionResponse'),0,sub(length(variables('ConditionResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_AllScripts_Return_Count": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ALLSCRIPTS"
                    },
                    "Athena": {
                        "actions": {
                            "Check_Total_Records_in_Athena_Response": {
                                "actions": {
                                    "For_Each_Athena_Condition_Response": {
                                        "actions": {
                                            "Create_Athena_Condition_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(string(body('Get_Condition_Response_in_R4_Format')),concat('Patient/',triggerBody()?['EMRFHIRPatientID']),variables('Patient'))",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Condition?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_Athena_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Get_Condition_Response_in_R4_Format": {
                                                "inputs": {
                                                    "body": "@items('For_Each_Athena_Condition_Response')['resource']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://fhirconverter-panoramic.azurewebsites.net/converter/dstu2"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            },
                                            "Set_Athena_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Get_Condition_Response_in_R4_Format')['id']}"
                                                },
                                                "runAfter": {
                                                    "Get_Condition_Response_in_R4_Format": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            },
                                            "Set_FHIR_ID": {
                                                "inputs": {
                                                    "name": "ConditionResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_Athena_Condition_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_Athena_Condition_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Condition_from_Athena')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_Athena": {
                                            "inputs": {
                                                "name": "ConditionResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(body('Get_Condition_from_Athena')['total'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Condition_from_Athena": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Athena_Access_Token": {
                                "inputs": {
                                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Condition_from_Athena": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Athena_Access_Token')['access_token']}"
                                    },
                                    "method": "GET",
                                    "uri": "https://api.athenahealth.com/preview1/195900/102/fhir/dstu2/Condition?patient=@{triggerBody()?['EMRFHIRPatientID']}"
                                },
                                "runAfter": {
                                    "Get_Athena_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_Athena_Condition_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Condition_Details\" : [',substring(variables('ConditionResponse'),0,sub(length(variables('ConditionResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Total_Records_in_Athena_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "ATHENA"
                    },
                    "CERNER": {
                        "actions": {
                            "Check_Total_Count_in_CERNER_Response": {
                                "actions": {
                                    "For_Each_Condition_in_CERNER_Response": {
                                        "actions": {
                                            "Append_CERNER_FHIR_Response": {
                                                "inputs": {
                                                    "name": "ConditionResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_CERNER_Condition_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_CERNER_Condition_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Create_CERNER_Condition_in_FHIR": {
                                                "inputs": {
                                                    "body": "@json(xml(string(substring(string(body('Transform_CERNER_XML')),39))))['ConditionResponse']",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Condition?identifier=@{item()['resource']['id']}"
                                                },
                                                "runAfter": {
                                                    "Transform_CERNER_XML": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_variable": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@item()['resource']['id']"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            },
                                            "Transform_CERNER_XML": {
                                                "inputs": {
                                                    "content": "@string(xml(json(string(concat('{\"ConditionResponse\":',string(item()['resource']),'}')))))",
                                                    "integrationAccount": {
                                                        "map": {
                                                            "name": "CERNER_ConditionResponse_To_FHIRConditionResponse"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Set_variable": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Xslt"
                                            }
                                        },
                                        "foreach": "@json(string(body('Get_Conditions_from_CERNER')['entry']))",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_CERNER": {
                                            "inputs": {
                                                "name": "ConditionResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('Get_Conditions_from_CERNER'))",
                                                "resourceType"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Conditions_from_CERNER": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_CERNER_Access_Token": {
                                "inputs": {
                                    "headers": {
                                        "content-type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "https://api.sandboxcernercare.com/oauth/access?oauth_consumer_key=f3bbbf78-831e-4892-9864-086e5af423e7&oauth_signature_method=PLAINTEXT&oauth_signature=baT1MXO-PcvgptQrBtqgha_YRo3EDPSV%26"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Get_Conditions_from_CERNER": {
                                "inputs": {
                                    "headers": {
                                        "Accept": "application/json+fhir",
                                        "Authorization": "Bearer @{body('Get_CERNER_Access_Token')['$formdata'][0]['value']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'Condition?patient=1316020')"
                                },
                                "runAfter": {
                                    "Get_CERNER_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Return_CERNER_Condition_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Condition_Details\" : [',substring(variables('ConditionResponse'),0,sub(length(variables('ConditionResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Total_Count_in_CERNER_Response": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "CERNERPHR"
                    },
                    "DRCHRONO": {
                        "actions": {
                            "Check_Dr_Chrono_Count_for_Problems": {
                                "actions": {
                                    "For_each_Problems_in_DrChrono_Response": {
                                        "actions": {
                                            "Create_DRChrono_Problems_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "category": {
                                                            "coding": {
                                                                "code": "problem-list-item",
                                                                "display": "Problem List Item",
                                                                "system": "http://hl7.org/fhir/condition-category"
                                                            }
                                                        },
                                                        "clinicalStatus": {
                                                            "coding": {
                                                                "code": "",
                                                                "system": "http://terminology.hl7.org/CodeSystem/condition-clinical"
                                                            }
                                                        },
                                                        "code": {
                                                            "coding": [
                                                                {
                                                                    "code": "@{body('Parse_PHR_Request')?['icd_code']}",
                                                                    "system": "@{body('Parse_PHR_Request')?['icd_version']}"
                                                                }
                                                            ],
                                                            "text": ""
                                                        },
                                                        "encounter": "",
                                                        "evidence": {
                                                            "code": {
                                                                "text": ""
                                                            }
                                                        },
                                                        "id": "@{body('Parse_PHR_Request')?['id']}",
                                                        "identifier": {
                                                            "type": {
                                                                "text": "externalResourceId"
                                                            },
                                                            "value": "@{body('Parse_PHR_Request')?['id']}"
                                                        },
                                                        "note": {
                                                            "text": "@{body('Parse_PHR_Request')?['name']}"
                                                        },
                                                        "onsetDateTime": "@{body('Parse_PHR_Request')?['date_onset']}",
                                                        "resourceType": "Condition",
                                                        "severity": {
                                                            "coding": {
                                                                "code": "",
                                                                "display": "",
                                                                "system": ""
                                                            }
                                                        },
                                                        "subject": {
                                                            "reference": "Patient/@{body('Parse_PHR_Request')?['patient']}"
                                                        },
                                                        "verificationStatus": {
                                                            "coding": {
                                                                "code": "",
                                                                "system": "http://terminology.hl7.org/CodeSystem/condition-clinical"
                                                            }
                                                        }
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "content-type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Condition?identifier=@{variables('RecordID')}"
                                                },
                                                "runAfter": {
                                                    "Set_RecordID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Create_PHR_Request_for_FHIR": {
                                                "inputs": "@items('For_each_Problems_in_DrChrono_Response')",
                                                "runAfter": {},
                                                "type": "Compose"
                                            },
                                            "Parse_PHR_Request": {
                                                "inputs": {
                                                    "content": "@outputs('Create_PHR_Request_for_FHIR')",
                                                    "schema": {
                                                        "properties": {
                                                            "date_changed": {},
                                                            "date_diagnosis": {
                                                                "type": "string"
                                                            },
                                                            "date_onset": {},
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "doctor": {
                                                                "type": "integer"
                                                            },
                                                            "icd_code": {
                                                                "type": "string"
                                                            },
                                                            "icd_version": {
                                                                "type": "integer"
                                                            },
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "info_url": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "notes": {
                                                                "type": "string"
                                                            },
                                                            "patient": {
                                                                "type": "integer"
                                                            },
                                                            "snomed_ct_code": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Create_PHR_Request_for_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson"
                                            },
                                            "Set_FHIRID_in_Condition": {
                                                "inputs": {
                                                    "name": "ConditionResponse",
                                                    "value": "@concat('\"FHIRID\":\"', body('Create_DRChrono_Problems_in_FHIR')['id'], '\",')"
                                                },
                                                "runAfter": {
                                                    "Create_DRChrono_Problems_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_RecordID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{body('Parse_PHR_Request')?['id']}"
                                                },
                                                "runAfter": {
                                                    "Parse_PHR_Request": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@body('Get_DrCHRONO_Problems_Intolerance')['results']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_DrChrono": {
                                            "inputs": {
                                                "name": "ConditionResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(body('Get_DrCHRONO_Problems_Intolerance'))",
                                                "id"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_DrCHRONO_Problems_Intolerance": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_DrCHRONO_Problems_Intolerance": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Bearer @{body('LA.PHI.DRCHRONO.RefreshAccessToken')['AccessToken']}"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(body('Get_Endpoint_Details')['address'],'problems?patient=87561169')"
                                },
                                "runAfter": {
                                    "LA.PHI.DRCHRONO.RefreshAccessToken": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "LA.PHI.DRCHRONO.RefreshAccessToken": {
                                "inputs": {
                                    "body": {
                                        "RefreshToken": "@body('Get_Endpoint_Details')['header'][1]"
                                    },
                                    "host": {
                                        "triggerName": "manual",
                                        "workflow": {
                                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.DRCHRONO.RefreshAccessToken"
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Workflow"
                            },
                            "Send_DRChrono_Response": {
                                "inputs": {
                                    "body": "@concat('{\"Get_Condition_Details\" : [',substring(variables('ConditionResponse'),0,sub(length(variables('ConditionResponse')),1)),'}]}')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Check_Dr_Chrono_Count_for_Problems": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            }
                        },
                        "case": "DRCHRONO"
                    },
                    "EPIC": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "For_each": {
                                        "actions": {
                                            "Create_Conditions_in_FHIR": {
                                                "inputs": {
                                                    "body": "@replace(replace(replace(string(item()),'\"subject\":null',variables('Subject')),'EXTERNALEMRID',items('For_each')['id']),'\"ERID\"','{\"text\": \"externalResourceId\"}')",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "PUT",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Condition?identifier=@{items('For_each')['id']}"
                                                },
                                                "runAfter": {
                                                    "Set_Record_ID": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http"
                                            },
                                            "Set_Condition_Response": {
                                                "inputs": {
                                                    "name": "ConditionResponse",
                                                    "value": "\"FHIRID\" : \"@{body('Create_Conditions_in_FHIR')['id']}\","
                                                },
                                                "runAfter": {
                                                    "Create_Conditions_in_FHIR": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable"
                                            },
                                            "Set_Record_ID": {
                                                "inputs": {
                                                    "name": "RecordID",
                                                    "value": "@{items('For_each')['id']}"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        },
                                        "foreach": "@if(equals(int(json(body('Get_Conditions_From_EPIC'))['Bundle']['total']['@value']),1),json(concat('[',string(json(body('Transform_Condition_XML'))['Conditions']['Condition']),']')),json(body('Transform_Condition_XML'))['Conditions']['Condition'])",
                                        "runAfter": {
                                            "Transform_Condition_XML": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Transform_Condition_XML": {
                                        "inputs": {
                                            "content": "@{body('Get_Conditions_From_EPIC')}",
                                            "integrationAccount": {
                                                "map": {
                                                    "name": "Condition_To_FHIRCondition"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Xslt"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "No_Response_From_EPIC": {
                                            "inputs": {
                                                "name": "ConditionResponse",
                                                "value": "}"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToStringVariable"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@int(json(body('Get_Conditions_From_EPIC'))['Bundle']['total']['@value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Get_Conditions_From_EPIC": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Get_Conditions_From_EPIC": {
                                "inputs": {
                                    "headers": {
                                        "Authorization": "Basic @{variables('AccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "GET",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,63),'FHIR/R4/Condition?patient=',triggerBody()?['EMRFHIRPatientID'],'&category=problem-list-item')"
                                },
                                "runAfter": {
                                    "Set_Access_Token": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Response": {
                                "inputs": {
                                    "body": "@concat('\"Get_Conditions_Details\" : [',substring(variables('ConditionResponse'),0,sub(length(variables('ConditionResponse')),1)),'}]')",
                                    "statusCode": 200
                                },
                                "kind": "Http",
                                "runAfter": {
                                    "Condition": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response"
                            },
                            "Set_Access_Token": {
                                "inputs": {
                                    "name": "AccessToken",
                                    "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('Endpoint')",
                "runAfter": {
                    "Initialize_Patient_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AzureFHIRID": {
                                "type": "string"
                            },
                            "EMRFHIRPatientID": {
                                "type": "string"
                            },
                            "EndpointIdentifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
