LA.PHI.GetPatientHealthRecords.Bulk.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Append_Final_Tag_to_Patient_Health_Response": {
                "inputs": {
                    "name": "FinalPHResponse",
                    "value": "}]}"
                },
                "runAfter": {
                    "Set_Final_Patient_Record_Response": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToStringVariable"
            },
            "Append_Final_Tag_to_Patient_Recurrence_Response": {
                "inputs": {
                    "name": "FinalPHRecurrence",
                    "value": "}]}"
                },
                "runAfter": {
                    "Append_Final_Tag_to_Patient_Health_Response": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToStringVariable"
            },
            "Check_if_Input_is_Valid": {
                "actions": {},
                "else": {
                    "actions": {
                        "Send_Bad_Format_Error": {
                            "inputs": {
                                "body": {
                                    "ContentData": "@base64(json(concat('{\"Header\":{ \"Endpoint\" : \"',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'],'\", \"Status\" : \"Error\", \"StatusCode\" : \"400\" },\"Body\":{ \"ErrorDescription\" : \"Bad Format\"}}')))"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('obpatientrecord'))}/messages"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Terminate": {
                            "inputs": {
                                "runError": {
                                    "code": "400",
                                    "message": "Bad Format Error"
                                },
                                "runStatus": "Failed"
                            },
                            "runAfter": {
                                "Send_Bad_Format_Error": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@json(string(body('LA.PHI.General.CheckEndpointAvailability')))['Header']['Status']",
                                "Success"
                            ]
                        },
                        {
                            "equals": [
                                "@body('ValidateInput')",
                                "Success"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "LA.PHI.General.CheckEndpointAvailability": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Compose_Fields": {
                "inputs": "@json(base64ToString(triggerBody()?['ContentData']))['Identifier']",
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "For_each": {
                "actions": {
                    "Append_to_Patient_Health_Response": {
                        "inputs": {
                            "name": "PatientsHealthRecordResponse",
                            "value": "@concat('{ \"PatientID\" : \"',items('For_each')?['PatientID'],'\", \"LastRetrievedTS\" : \"',string(formatDateTime(utcNow(),'yyyy-MM-ddThh:mm:ss')),'\", \"Endpoint\" : \"',items('For_each')?['Endpoint'],'\" ,\"Response\":{  ' , body('LA.PHI.PatientHealthRecords.GetGoalDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetImmunizationDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetLabDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetConditionDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetProcedureDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetMedicationStatement.API'),'},')"
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Append_to_Patient_Recurrence_Health_Response": {
                        "inputs": {
                            "name": "PatientHealthRecordRecurrenceResponse",
                            "value": "@concat('{ \"PatientID\" : \"',items('For_each')?['PatientID'],'\", \"LastRetrievedTS\" : \"',string(formatDateTime(utcNow(),'yyyy-MM-ddThh:mm:ss')),'\", \"Endpoint\" : \"',items('For_each')?['Endpoint'],'\" ,\"Response\":{ ' , body('LA.PHI.PatientHealthRecords.GetGoalDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetImmunizationDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetLabDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetConditionDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetProcedureDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API'),', ' , body('LA.PHI.PatientHealthRecords.GetMedicationStatement.API'),'},')"
                        },
                        "runAfter": {
                            "Append_to_Patient_Health_Response": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "Set_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetConditionDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetConditionDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetConditionDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetGoalDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetGoalDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetImmunizationDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetImmunizationDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetGoalDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetLabDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetLabDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetImmunizationDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetMedicationStatement.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetMedicationStatement.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetLabDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetProcedureDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetProcedureDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetMedicationStatement.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetProcedureDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API": {
                        "inputs": {
                            "body": {
                                "AzureFHIRID": "@items('For_each')?['AzureFHIRID']",
                                "EMRFHIRPatientID": "@items('For_each')?['PatientID']",
                                "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                            },
                            "host": {
                                "triggerName": "manual",
                                "workflow": {
                                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API"
                                }
                            }
                        },
                        "runAfter": {
                            "LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API": [
                                "Succeeded"
                            ]
                        },
                        "type": "Workflow"
                    },
                    "Set_variable": {
                        "inputs": {
                            "name": "PatientHealthRecordRecurrenceResponse",
                            "value": "jihji"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "foreach": "@body('Parse_Identifiers')?['Patients']",
                "runAfter": {
                    "Initialize_Response_String": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Check_if_Input_is_Valid": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Initialize_Final_Patient_Health_Record_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FinalPHResponse",
                            "type": "string",
                            "value": "FinalPHResponse"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Recurrence_Response": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Final_Patient_Recurrence_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FinalPHRecurrence",
                            "type": "string",
                            "value": "FinalPHRecurrence"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Final_Patient_Health_Record_Response": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Recurrence_Response": {
                "inputs": {
                    "variables": [
                        {
                            "name": "PatientHealthRecordRecurrenceResponse",
                            "type": "string",
                            "value": "{  \"Patients\": ["
                        }
                    ]
                },
                "runAfter": {
                    "Parse_Identifiers": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Response_String": {
                "inputs": {
                    "variables": [
                        {
                            "name": "PatientsHealthRecordResponse",
                            "type": "string",
                            "value": "{  \"Patients\": ["
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Final_Patient_Recurrence_Response": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "LA.PHI.General.CheckEndpointAvailability": {
                "inputs": {
                    "body": {
                        "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.General.CheckEndpointAvailability"
                        }
                    }
                },
                "runAfter": {
                    "ValidateInput": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "Parse_Identifiers": {
                "inputs": {
                    "content": "@outputs('Compose_Fields')",
                    "schema": {
                        "properties": {
                            "Patients": {
                                "items": {
                                    "properties": {
                                        "AzureFHIRID": {
                                            "type": "string"
                                        },
                                        "LastAccessed": {
                                            "type": "string"
                                        },
                                        "PatientID": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose_Fields": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Send_message_back_to_outbound_queue": {
                "inputs": {
                    "body": {
                        "ContentData": "@{base64(variables('FinalPHResponse'))}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(encodeURIComponent('obpatientrecord'))}/messages",
                    "queries": {
                        "systemProperties": "None"
                    }
                },
                "runAfter": {
                    "Append_Final_Tag_to_Patient_Recurrence_Response": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Set_Final_Patient_Record_Response": {
                "inputs": {
                    "name": "FinalPHResponse",
                    "value": "@substring(variables('PatientsHealthRecordResponse'),0,sub(length(variables('PatientsHealthRecordResponse')),1))"
                },
                "runAfter": {
                    "Set_Final_Recurrence_Response": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "Set_Final_Recurrence_Response": {
                "inputs": {
                    "name": "FinalPHRecurrence",
                    "value": "@substring(variables('PatientHealthRecordRecurrenceResponse'),0,sub(length(variables('PatientHealthRecordRecurrenceResponse')),1))"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "ValidateInput": {
                "inputs": {
                    "body": "@concat('{  \"EndpointIdentifier\":\"',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'],'\",  \"Identifier\": \"Dummy=Dummy\"}')",
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/ValidateInput"
                    }
                },
                "runAfter": {},
                "type": "Function"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_queue_(auto-complete)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('ibpatientrecord'))}/messages/head",
                    "queries": {
                        "queueType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 30
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "servicebus": {
                    "connectionId": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Web/connections/servicebus",
                    "connectionName": "servicebus",
                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/providers/Microsoft.Web/locations/westus2/managedApis/servicebus"
                }
            }
        }
    }
}
