LA.PHI.EPIC.GetSchedulingSlots.Bulk.Json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_if_Input_is_Valid": {
                "actions": {},
                "else": {
                    "actions": {
                        "Send_message": {
                            "inputs": {
                                "body": {
                                    "ContentData": "@base64(json(concat('{\"Header\":{ \"Endpoint\" : \"',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'],'\", \"Status\" : \"Error\", \"StatusCode\" : \"400\" },\"Body\":{ \"ErrorDescription\" : \"Bad Format\"}}')))"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('ibsched'))}/messages",
                                "queries": {
                                    "systemProperties": "None"
                                }
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Terminate": {
                            "inputs": {
                                "runStatus": "Succeeded"
                            },
                            "runAfter": {
                                "Send_message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@json(string(body('LA.PHI.General.CheckEndpointAvailability')))['Header']['Status']",
                                "Success"
                            ]
                        },
                        {
                            "equals": [
                                "@body('ValidateInput')",
                                "Success"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "LA.PHI.General.CheckEndpointAvailability": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Compose_Fields": {
                "inputs": "@replace(concat('{ \"',replace(replace(string(json(base64ToString(triggerBody()?['ContentData']))['Identifier']),'=','\":\"'),'|','\",\"'),'\"}'),' ','')",
                "runAfter": {
                    "EPIC_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "EPIC_Access_Token": {
                "inputs": {
                    "variables": [
                        {
                            "name": "EPICAccessToken",
                            "type": "string",
                            "value": "@base64(concat('emp$',substring(body('Get_Endpoint_Details')['header'][0],9),':',substring(body('Get_Endpoint_Details')['header'][1],9)))"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Endpoint_Details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "Sx1LRBabgD?GG?[5bv_RcGTboUNcRs74"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Check_if_Input_is_Valid": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Get_Endpoint_Details": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('GetAccessToken')}",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@concat('https://panoramic-dev.azurehealthcareapis.com/Endpoint/',json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier'])"
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Department_Object": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Dept",
                            "type": "string",
                            "value": "{\"text\": \"DepartmentID\"}"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_Identifiers": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Visit_Type": {
                "inputs": {
                    "variables": [
                        {
                            "name": "VisitType",
                            "type": "string",
                            "value": "{\"text\": \"VisitType\"}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Department_Object": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "LA.PHI.General.CheckEndpointAvailability": {
                "inputs": {
                    "body": {
                        "EndpointIdentifier": "@json(base64ToString(triggerBody()?['ContentData']))['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.General.CheckEndpointAvailability"
                        }
                    }
                },
                "runAfter": {
                    "ValidateInput": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "Parse_Identifiers": {
                "inputs": {
                    "content": "@outputs('Compose_Fields')",
                    "schema": {
                        "properties": {
                            "ProviderID": {
                                "type": "string"
                            },
                            "ScheduleID": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose_Fields": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Switch": {
                "cases": {
                    "EPIC": {
                        "actions": {
                            "Get_Schedule_Days_For_Provider": {
                                "inputs": {
                                    "body": {
                                        "DepartmentIDs": [],
                                        "EndDate": "",
                                        "ProviderID": "@body('Parse_Identifiers')['ProviderID']",
                                        "ProviderIDType": "External",
                                        "StartDate": "",
                                        "VisitTypeIDs": []
                                    },
                                    "headers": {
                                        "Authorization": "Basic @{variables('EPICAccessToken')}",
                                        "Content-Type": "application/json",
                                        "Epic-Client-ID": "672c5f7d-4098-46ff-a00f-57c02f330fe9"
                                    },
                                    "method": "POST",
                                    "uri": "@concat(substring(body('Get_Endpoint_Details')['address'],0,68),'/2017/PatientAccess/External/GetScheduleDaysForProvider2/Scheduling/Open/Provider/GetScheduleDays2')"
                                },
                                "runAfter": {},
                                "type": "Http"
                            },
                            "Loop_Through_Schedule_Days": {
                                "actions": {
                                    "Loop_Through_Slots": {
                                        "actions": {
                                            "Create_Slot_in_FHIR": {
                                                "inputs": {
                                                    "body": {
                                                        "comment": "Assessments should be performed before requesting appointments in this slot.",
                                                        "end": "@addToTime(concat(items('Loop_Through_Schedule_Days')['Date'],'T',item()['Time'],'Z'),15,'Minute')",
                                                        "identifier": [
                                                            {
                                                                "system": "",
                                                                "type": "@json(variables('VisitType'))",
                                                                "value": "@items('Loop_Through_Schedule_Days')['VisitType']['ID']"
                                                            },
                                                            {
                                                                "system": "",
                                                                "type": "@json(variables('Dept'))",
                                                                "value": "@items('Loop_Through_Schedule_Days')['Department']['ID']"
                                                            }
                                                        ],
                                                        "resourceType": "Slot",
                                                        "schedule": {
                                                            "reference": "@concat('https://panoramic-dev.azurehealthcareapis.com/Schedule/',body('Parse_Identifiers')['ScheduleID'])",
                                                            "type": "Schedule"
                                                        },
                                                        "start": "@concat(items('Loop_Through_Schedule_Days')['Date'],'T',item()['Time'],'Z')",
                                                        "status": "free"
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('GetAccessToken')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://panoramic-dev.azurehealthcareapis.com/Slot/"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "foreach": "@items('Loop_Through_Schedule_Days')['Slots']",
                                        "runAfter": {},
                                        "type": "Foreach"
                                    }
                                },
                                "foreach": "@body('Get_Schedule_Days_For_Provider')['ScheduleDays']",
                                "runAfter": {
                                    "Get_Schedule_Days_For_Provider": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "Send_message_to_Inbound_Queue": {
                                "inputs": {
                                    "body": {
                                        "ContentData": "@{base64(body('Get_Schedule_Days_For_Provider'))}"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/@{encodeURIComponent(encodeURIComponent('ibsched'))}/messages"
                                },
                                "runAfter": {
                                    "Loop_Through_Schedule_Days": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            }
                        },
                        "case": "EPIC"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@toUpper(body('Get_Endpoint_Details')['identifier'][0]['value'])",
                "runAfter": {
                    "Initialize_Visit_Type": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            },
            "ValidateInput": {
                "inputs": {
                    "body": "@json(base64ToString(triggerBody()?['ContentData']))",
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/ValidateInput"
                    }
                },
                "runAfter": {},
                "type": "Function"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(auto-complete)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('obsched'))}/subscriptions/@{encodeURIComponent('EPIC')}/messages/head",
                    "queries": {
                        "subscriptionType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Second",
                    "interval": 1
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "servicebus": {
                    "connectionId": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Web/connections/servicebus",
                    "connectionName": "servicebus",
                    "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/providers/Microsoft.Web/locations/westus2/managedApis/servicebus"
                }
            }
        }
    }
}
