LA.PHI.GetPatientHealthRecords.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_Validity_Of_Input": {
                "actions": {},
                "else": {
                    "actions": {
                        "Return_Bad_Format_Response": {
                            "inputs": {
                                "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"',triggerBody()?['EndpointIdentifier'],'\", \"Status\" : \"Error\", \"StatusCode\" : \"400\" },\"Body\":{ \"ErrorDescription\" : \"Bad Format\"}}'))",
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {},
                            "type": "Response"
                        },
                        "Terminate": {
                            "inputs": {
                                "runError": {
                                    "code": "400",
                                    "message": "Failed"
                                },
                                "runStatus": "Failed"
                            },
                            "runAfter": {
                                "Return_Bad_Format_Response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@json(string(body('LA.PHI.General.CheckEndpointAvailability')))['Header']['Status']",
                                "Success"
                            ]
                        },
                        {
                            "equals": [
                                "@body('ValidateInput')",
                                "Success"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "LA.PHI.General.CheckEndpointAvailability": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Compose_Fields": {
                "inputs": "@replace(concat('{ \"',replace(replace(string(triggerBody()?['Identifier']),'=','\":\"'),'|','\",\"'),'\"}'),' ','')",
                "runAfter": {
                    "Check_Validity_Of_Input": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "GetAccessToken": {
                "inputs": {
                    "body": {
                        "audience": "https://azurehealthcareapis.com",
                        "authority": "https://login.microsoftonline.com/894e47d6-5fd9-4351-b8a4-f3a178380c66",
                        "clientId": "d65826a4-a0d5-44d3-8f88-1e6660715fe9",
                        "clientSecret": "+^;>*+{;});Y:@}#;0/}D_//W$([*dkl?-#({;_^%"
                    },
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/GetAccessToken"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "LA.PHI.General.CheckEndpointAvailability": {
                "inputs": {
                    "body": {
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.General.CheckEndpointAvailability"
                        }
                    }
                },
                "runAfter": {
                    "ValidateInput": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetConditionDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetConditionDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetProcedureDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetGoalDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetGoalDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetGoalDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetMedicationStatement.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetImmunizationDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetImmunizationDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetConditionDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetLabDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetLabDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetImmunizationDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetMedicationStatement.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetMedicationStatement.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetLabDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetProcedureDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetProcedureDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "GetAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API": {
                "inputs": {
                    "body": {
                        "AzureFHIRID": "@body('Parse_JSON')?['AzurePatientFHIRID']",
                        "EMRFHIRPatientID": "@body('Parse_JSON')?['PatientID']",
                        "EndpointIdentifier": "@triggerBody()?['EndpointIdentifier']"
                    },
                    "host": {
                        "triggerName": "manual",
                        "workflow": {
                            "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/LA.PNM.FHIR.RG/providers/Microsoft.Logic/workflows/LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API"
                        }
                    }
                },
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Workflow"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@outputs('Compose_Fields')",
                    "schema": {
                        "properties": {
                            "AzurePatientFHIRID": {
                                "type": "string"
                            },
                            "PatientID": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose_Fields": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "body": "@concat('{\"Header\":{ \"Endpoint\" : \"',triggerBody()?['EndpointIdentifier'],'\", \"Status\" : \"Success\", \"StatusCode\" : \"200\" },\"Body\":{ ',body('LA.PHI.PatientHealthRecords.GetAllergyIntoleranceDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetProcedureDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetConditionDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetMedicationStatement.API'),',',body('LA.PHI.PatientHealthRecords.GetVitalSignsDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetLabDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetImmunizationDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetSmokingHistoryDetails.API'),',',body('LA.PHI.PatientHealthRecords.GetGoalDetails.API'),'}}')",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "LA.PHI.PatientHealthRecords.GetDiagnosticDetails.API": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Return_Parsing_Error": {
                "inputs": {
                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"',triggerBody()?['EndpointIdentifier'],'\", \"Status\" : \"Error\", \"StatusCode\" : \"400\" },\"Body\":{ \"ErrorDescription\" : \"Bad Format\"}}'))",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Parse_JSON": [
                        "Failed"
                    ]
                },
                "type": "Response"
            },
            "ValidateInput": {
                "inputs": {
                    "body": "@triggerBody()",
                    "function": {
                        "id": "/subscriptions/69aa0a7e-9493-4851-a6e8-80cca46db8cc/resourceGroups/Azure-FHIR-RG/providers/Microsoft.Web/sites/PanoramicFunctionHelper/functions/ValidateInput"
                    }
                },
                "runAfter": {},
                "type": "Function"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "EndpointIdentifier": {
                                "type": "string"
                            },
                            "Identifier": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
