LA.PHI.Athena.GetAppointmentCancelReasons.API.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_Access_Token": {
                "inputs": {
                    "body": "grant_type=client_credentials&client_id=wffujq3bf5hqxbkvcqb2qta3&client_secret=f4GgJBxFF9Rcp4B",
                    "headers": {
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "method": "POST",
                    "uri": "https://api.athenahealth.com/oauthpreview/token"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Get_Appointment_Cancel_Reasons": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_Access_Token')?['access_token']}",
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "method": "GET",
                    "uri": "https://api.athenahealth.com/preview1/195900/appointmentcancelreasons"
                },
                "runAfter": {
                    "Parse_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_Access_Token": {
                "inputs": {
                    "content": "@body('Get_Access_Token')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "refresh_token": {
                                "type": "string"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "body": "@json(concat('{\"Header\":{ \"Endpoint\" : \"ATHENA\", \"Status\" : \"Success\", \"StatusCode\" : \"',outputs('Get_Appointment_Cancel_Reasons')['statusCode'],'\" },\"Body\":',body('Get_Appointment_Cancel_Reasons') ,'}}'))",
                    "statusCode": "@outputs('Get_Appointment_Cancel_Reasons')['statusCode']"
                },
                "kind": "Http",
                "runAfter": {
                    "Get_Appointment_Cancel_Reasons": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}